<template>

  <!-- BEGIN PAGE CONTENT -->
  <div class="page-content">
    <div class="header">
      <h2><strong>Animations</strong> CSS3</h2>
      <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
          <li><a href="#">Make</a>
          </li>
          <li><a href="#">UI</a>
          </li>
          <li class="active">Icons</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 portlets">
        <div class="panel">
          <div class="panel-header panel-controls">
            <h3><i class="icon-bulb"></i> Animation <strong>Possibilities</strong></h3>
          </div>
          <div class="panel-content">
            <div class="row">
              <div class="col-md-6 col-md-offset-3 align-center m-b-60">
                <div id="animationSandbox">
                  <h1 class="animation_title c-primary"><strong>Animate</strong> Me<strong>!</strong></h1>
                </div>
              </div>
              <div class="col-md-6 col-md-offset-3 align-center">
                <div class="row">
                  <div class="col-md-6 m-t-10">
                    <select class="form-control js_animations">
                      <optgroup label="Attention Seekers">
                        <option value="bounce">bounce</option>
                        <option value="flash">flash</option>
                        <option value="pulse">pulse</option>
                        <option value="rubberBand">rubberBand</option>
                        <option value="shake">shake</option>
                        <option value="swing">swing</option>
                        <option value="tada">tada</option>
                        <option value="wobble">wobble</option>
                      </optgroup>
                      <optgroup label="Bouncing Entrances">
                        <option value="bounceIn">bounceIn</option>
                        <option value="bounceInDown">bounceInDown</option>
                        <option value="bounceInLeft">bounceInLeft</option>
                        <option value="bounceInRight">bounceInRight</option>
                        <option value="bounceInUp">bounceInUp</option>
                      </optgroup>
                      <optgroup label="Bouncing Exits">
                        <option value="bounceOut">bounceOut</option>
                        <option value="bounceOutDown">bounceOutDown</option>
                        <option value="bounceOutLeft">bounceOutLeft</option>
                        <option value="bounceOutRight">bounceOutRight</option>
                        <option value="bounceOutUp">bounceOutUp</option>
                      </optgroup>
                      <optgroup label="Fading Entrances">
                        <option value="fadeIn">fadeIn</option>
                        <option value="fadeInDown">fadeInDown</option>
                        <option value="fadeInDownBig">fadeInDownBig</option>
                        <option value="fadeInLeft">fadeInLeft</option>
                        <option value="fadeInLeftBig">fadeInLeftBig</option>
                        <option value="fadeInRight">fadeInRight</option>
                        <option value="fadeInRightBig">fadeInRightBig</option>
                        <option value="fadeInUp">fadeInUp</option>
                        <option value="fadeInUpBig">fadeInUpBig</option>
                      </optgroup>
                      <optgroup label="Fading Exits">
                        <option value="fadeOut">fadeOut</option>
                        <option value="fadeOutDown">fadeOutDown</option>
                        <option value="fadeOutDownBig">fadeOutDownBig</option>
                        <option value="fadeOutLeft">fadeOutLeft</option>
                        <option value="fadeOutLeftBig">fadeOutLeftBig</option>
                        <option value="fadeOutRight">fadeOutRight</option>
                        <option value="fadeOutRightBig">fadeOutRightBig</option>
                        <option value="fadeOutUp">fadeOutUp</option>
                        <option value="fadeOutUpBig">fadeOutUpBig</option>
                      </optgroup>
                      <optgroup label="Flippers">
                        <option value="flip">flip</option>
                        <option value="flipInX">flipInX</option>
                        <option value="flipInY">flipInY</option>
                        <option value="flipOutX">flipOutX</option>
                        <option value="flipOutY">flipOutY</option>
                      </optgroup>
                      <optgroup label="Lightspeed">
                        <option value="lightSpeedIn">lightSpeedIn</option>
                        <option value="lightSpeedOut">lightSpeedOut</option>
                      </optgroup>
                      <optgroup label="Rotating Entrances">
                        <option value="rotateIn">rotateIn</option>
                        <option value="rotateInDownLeft">rotateInDownLeft</option>
                        <option value="rotateInDownRight">rotateInDownRight</option>
                        <option value="rotateInUpLeft">rotateInUpLeft</option>
                        <option value="rotateInUpRight">rotateInUpRight</option>
                      </optgroup>
                      <optgroup label="Rotating Exits">
                        <option value="rotateOut">rotateOut</option>
                        <option value="rotateOutDownLeft">rotateOutDownLeft</option>
                        <option value="rotateOutDownRight">rotateOutDownRight</option>
                        <option value="rotateOutUpLeft">rotateOutUpLeft</option>
                        <option value="rotateOutUpRight">rotateOutUpRight</option>
                      </optgroup>
                      <optgroup label="Sliders">
                        <option value="slideInDown">slideInDown</option>
                        <option value="slideInLeft">slideInLeft</option>
                        <option value="slideInRight">slideInRight</option>
                        <option value="slideOutLeft">slideOutLeft</option>
                        <option value="slideOutRight">slideOutRight</option>
                        <option value="slideOutUp">slideOutUp</option>
                      </optgroup>
                      <optgroup label="Specials">
                        <option value="hinge">hinge</option>
                        <option value="rollIn">rollIn</option>
                        <option value="rollOut">rollOut</option>
                      </optgroup>
                    </select>
                  </div>
                  <div class="col-md-6 m-t-10 text-left">
                    <button class="btn btn-primary m-b-10 js_triggerAnimation btn-embossed">Animate it</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 portlets">
        <div class="panel">
          <div class="panel-header panel-controls">
            <h3>Font Awesome Animation on <strong>Load</strong></h3>
          </div>
          <div class="panel-content">
            <div class="row">
              <div class="col-md-12">
                <div class="font-animation">
                  <a href="#">
                    <i class="fa fa-wrench faa-wrench animated"></i>
                    &nbsp;faa-wrench animated
                  </a>
                </div>
                <div class="font-animation">
                  <a href="#">
                    <i class="fa fa-bell faa-ring animated"></i>
                    &nbsp;faa-ring animated
                  </a>
                </div>
                <div class="font-animation">
                  <a href="#">
                    <i class="fa fa-envelope faa-horizontal animated"></i>
                    &nbsp;faa-horizontal animated
                  </a>
                </div>
                <div class="font-animation">
                  <a href="#">
                    <i class="fa fa-thumbs-o-up faa-vertical animated"></i>
                    &nbsp;faa-vertical animated
                  </a>
                </div>
                <div class="font-animation">
                  <a href="#">
                    <i class="fa fa-warning faa-flash animated"></i>
                    &nbsp;faa-flash animated
                  </a>
                </div>
                <div class="font-animation">
                  <a href="#">
                    <i class="fa fa-thumbs-o-up faa-bounce animated"></i>
                    &nbsp;faa-bounce animated
                  </a>
                </div>
                <div class="font-animation">
                  <a href="#">
                    <i class="fa fa-spinner faa-spin animated"></i>
                    &nbsp;faa-spin animated
                  </a>
                </div>
                <div class="font-animation">
                  <a href="#">
                    <i class="fa fa-plane faa-float animated"></i>
                    &nbsp;faa-float animated
                  </a>
                </div>
                <div class="font-animation">
                  <a href="#">
                    <i class="fa fa-heart faa-pulse animated"></i>
                    &nbsp;faa-pulse animated
                  </a>
                </div>
                <div class="font-animation">
                  <a href="#">
                    <i class="fa fa-envelope faa-shake animated"></i>
                    &nbsp;faa-shake animated
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 portlets">
        <div class="panel">
          <div class="panel-header">
            <h3>Font Awesome Animation on <strong>Hover</strong></h3>
            <div class="control-btn">
              <a href="#" class="panel-reload hidden"><i class="icon-reload"></i></a>
              <a class="hidden" id="dropdownMenu1" data-toggle="dropdown">
                <i class="icon-settings"></i>
              </a>
              <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Action</a>
                </li>
                <li><a href="#">Another action</a>
                </li>
                <li><a href="#">Something else here</a>
                </li>
              </ul>
              <a href="#" class="panel-popout hidden tt" title="Pop Out/In"><i class="icons-office-58"></i></a>
              <a href="#" class="panel-maximize hidden"><i class="icon-size-fullscreen"></i></a>
              <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
              <a href="#" class="panel-close"><i class="icon-trash"></i></a>
            </div>
          </div>
          <div class="panel-content">
            <div class="row">
              <div class="col-md-12">
                <div class="font-animation">
                  <a href="#">
                    <i class="fa fa-wrench faa-wrench animated-hover"></i>
                    &nbsp;faa-wrench animated-hover
                  </a>
                </div>
                <div class="font-animation">
                  <a href="#">
                    <i class="fa fa-bell faa-ring animated-hover"></i>
                    &nbsp;faa-ring animated-hover
                  </a>
                </div>
                <div class="font-animation">
                  <a href="#">
                    <i class="fa fa-envelope faa-horizontal animated-hover"></i>
                    &nbsp;faa-horizontal animated-hover
                  </a>
                </div>
                <div class="font-animation">
                  <a href="#">
                    <i class="fa fa-thumbs-o-up faa-vertical animated-hover"></i>
                    &nbsp;faa-vertical animated-hover
                  </a>
                </div>
                <div class="font-animation">
                  <a href="#">
                    <i class="fa fa-warning faa-flash animated-hover"></i>
                    &nbsp;faa-flash animated-hover
                  </a>
                </div>
                <div class="font-animation">
                  <a href="#">
                    <i class="fa fa-thumbs-o-up faa-bounce animated-hover"></i>
                    &nbsp;faa-bounce animation-hover
                  </a>
                </div>
                <div class="font-animation">
                  <a href="#">
                    <i class="fa fa-spinner faa-spin animated-hover"></i>
                    &nbsp;faa-spin animation-hover
                  </a>
                </div>
                <div class="font-animation">
                  <a href="#">
                    <i class="fa fa-plane faa-float animated-hover"></i>
                    &nbsp;faa-float animation-hover
                  </a>
                </div>
                <div class="font-animation">
                  <a href="#">
                    <i class="fa fa-heart faa-pulse animated-hover"></i>
                    &nbsp;faa-pulse animation-hover
                  </a>
                </div>
                <div class="font-animation">
                  <a href="#">
                    <i class="fa fa-envelope faa-shake animated-hover"></i>
                    &nbsp;faa-shake animation-hover
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END PAGE CONTENT -->

</template>
