<template>

  <!-- BEGIN PAGE CONTENT -->
  <div class="page-content">
    <div class="header">
      <h2><strong>Buttons</strong></h2>
      <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
          <li><a href="#">Make</a>
          </li>
          <li><a href="#">Pages</a>
          </li>
          <li class="active">Buttons</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 portlets">
        <div class="panel">
          <div class="panel-header panel-controls">
            <h3><i class="icon-layers"></i> Choose your <strong>Style</strong></h3>
          </div>
          <div class="panel-content">
            <p>You can set different colors by adding <code>btn-primary</code> class for example. Want embossed button? Add <code>btn-embossed</code> class, that's it!</p>
            <div class="row">
              <div class="col-md-6">
                <h3><strong>Classic</strong> Style</h3>
                <p>Default style with <code>btn</code> class.</p>
                <button type="button" class="btn btn-white">White</button>
                <button type="button" class="btn btn-default">Default</button>
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" class="btn btn-success">Success</button>
                <button type="button" class="btn btn-info">Info</button>
                <button type="button" class="btn btn-blue">Blue</button>
                <button type="button" class="btn btn-warning">Warning</button>
                <button type="button" class="btn btn-danger">Danger</button>
                <button type="button" class="btn btn-dark">Dark</button>
              </div>
              <div class="col-md-6">
                <h3><strong>Embossed</strong> style</h3>
                <p>How to use? Just add <code>btn-embossed</code> class.</p>
                <button type="button" class="btn btn-white btn-embossed">White</button>
                <button type="button" class="btn btn-default btn-embossed">Default</button>
                <button type="button" class="btn btn-primary btn-embossed">Primary</button>
                <button type="button" class="btn btn-success btn-embossed">Success</button>
                <button type="button" class="btn btn-info btn-embossed">Info</button>
                <button type="button" class="btn btn-warning btn-embossed">Warning</button>
                <button type="button" class="btn btn-danger btn-embossed">Danger</button>
                <button type="button" class="btn btn-dark btn-embossed">Dark</button>
              </div>
            </div>
            <div class="row m-t-30">
              <div class="col-md-6">
                <h3><strong>Rounded</strong> style</h3>
                <p>How to use? Just add <code>btn-rounded</code> class.</p>
                <button type="button" class="btn btn-default btn-rounded">Default</button>
                <button type="button" class="btn btn-primary btn-rounded">Primary</button>
                <button type="button" class="btn btn-success btn-rounded">Success</button>
                <button type="button" class="btn btn-info btn-rounded">Info</button>
                <button type="button" class="btn btn-warning btn-rounded">Warning</button>
                <button type="button" class="btn btn-danger btn-rounded">Danger</button>
                <button type="button" class="btn btn-dark btn-rounded">Dark</button>
              </div>
              <div class="col-md-6">
                <h3><strong>Transparent</strong> style</h3>
                <p>How to use? Just add <code>btn-transparent</code> class.</p>
                <button type="button" class="btn btn-default btn-transparent">Default</button>
                <button type="button" class="btn btn-primary btn-transparent">Primary</button>
                <button type="button" class="btn btn-success btn-transparent">Success</button>
                <button type="button" class="btn btn-warning btn-transparent">Warning</button>
                <button type="button" class="btn btn-danger btn-transparent">Danger</button>
                <button type="button" class="btn btn-dark btn-transparent">Dark</button>
              </div>
            </div>
            <div class="row m-t-30">
              <div class="col-md-6">
                <h3><strong>Square</strong> style</h3>
                <p>How to use? Just add <code>btn-square</code> class.</p>
                <button type="button" class="btn btn-default btn-square">Default</button>
                <button type="button" class="btn btn-primary btn-square">Primary</button>
                <button type="button" class="btn btn-success btn-square">Success</button>
                <button type="button" class="btn btn-info btn-square">Info</button>
                <button type="button" class="btn btn-warning btn-square">Warning</button>
                <button type="button" class="btn btn-danger btn-square">Danger</button>
                <button type="button" class="btn btn-dark btn-square">Dark</button>
              </div>
              <div class="col-md-6">
                <h3><strong>Mixed</strong> style</h3>
                <p>Make your style unique by mixing it! For example <code>btn-primary btn-square btn-embossed</code> class.</p>
                <button type="button" class="btn btn-primary btn-square btn-embossed">Primary</button>
                <button type="button" class="btn btn-success btn-rounded">Success</button>
                <button type="button" class="btn btn-info btn-transparent btn-rounded">Info</button>
                <button type="button" class="btn btn-warning btn-rounded btn-embossed">Warning</button>
                <button type="button" class="btn btn-danger btn-transparent">Danger</button>
                <button type="button" class="btn btn-dark btn-square">Dark</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 portlets">
        <div class="panel">
          <div class="panel-header panel-controls">
            <h3><i class="icon-bulb"></i> <strong>Group</strong> Buttons</h3>
          </div>
          <div class="panel-content">
            <p>Group buttons are great if you want to display a group of actions. To do that, just put you buttons inside a <code>btn-group</code> class div.
            </p>
            <div class="row">
              <div class="col-md-4">
                <h3><strong>Horizontal</strong> group</h3>
                <br>
                <div class="btn-group">
                  <button type="button" class="btn btn-primary active"><i class="fa fa-align-left"></i>
                  </button>
                  <button type="button" class="btn btn-primary"><i class="fa fa-align-justify"></i>
                  </button>
                  <button type="button" class="btn btn-primary"><i class="fa fa-align-right"></i>
                  </button>
                </div>
                <br>
                <br>
                <div class="btn-group">
                  <button class="btn btn-danger" type="button"><i class="fa fa-angle-left"></i>
                  </button>
                  <button class="btn btn-danger">1</button>
                  <button class="btn btn-danger  active">2</button>
                  <button class="btn btn-danger">3</button>
                  <button class="btn btn-danger">4</button>
                  <button class="btn btn-danger" type="button"><i class="fa fa-angle-right"></i>
                  </button>
                </div>
              </div>
              <div class="col-md-3">
                <h3><strong>Vertical</strong> group</h3>
                <br>
                <div class="btn-group btn-group-vertical">
                  <button type="button" class="btn btn-primary active"><i class="fa fa-align-left"></i>
                  </button>
                  <button type="button" class="btn btn-primary"><i class="fa fa-align-justify"></i>
                  </button>
                  <button type="button" class="btn btn-primary"><i class="fa fa-align-right"></i>
                  </button>
                </div>
                <div class="btn-group btn-group-vertical">
                  <button type="button" class="btn btn-primary active"><i class="fa fa-facebook"></i>
                  </button>
                  <button type="button" class="btn btn-danger"><i class="fa fa-google-plus"></i>
                  </button>
                  <button type="button" class="btn btn-blue"><i class="fa fa-twitter"></i>
                  </button>
                </div>
                <div class="btn-group btn-group-vertical">
                  <button type="button" class="btn btn-dark active">1</button>
                  <button type="button" class="btn btn-dark">2</button>
                  <button type="button" class="btn btn-dark">3</button>
                </div>
              </div>
              <div class="col-md-5">
                <h3><strong>Nested</strong> button groups</h3>
                <br>
                <div class="btn-group">
                  <button type="button" class="btn btn-white"><i class="icon-user"></i> Profile</button>
                  <button type="button" class="btn btn-white"><i class="icon-envelope"></i> Messages</button>
                  <button type="button" class="btn btn-white active"><i class="icon-settings"></i> Settings</button>
                  <div class="btn-group">
                    <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-ellipsis-horizontal"></i> More <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="#">Dropdown link</a>
                      </li>
                      <li>
                        <a href="#">Dropdown link</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <br>
                <br>
                <div class="btn-group">
                  <button type="button" class="btn btn-primary"><i class="icon-user"></i> Profile</button>
                  <button type="button" class="btn btn-dark"><i class="icon-envelope"></i> Messages</button>
                  <button type="button" class="btn btn-warning active"><i class="icon-settings"></i> Settings</button>
                  <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-ellipsis-horizontal"></i> More <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="#">Dropdown link</a>
                      </li>
                      <li>
                        <a href="#">Dropdown link</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-header">
            <h3><i class="icon-bulb"></i> <strong>Icons</strong> Buttons</h3>
          </div>
          <div class="panel-content">
            <p>You can add icons on the left or right side of button with color you want. Perfect for action buttons and social connection.</p>
            <div class="row">
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12">
                    <h3><strong>Icons</strong> styled button</h3>
                    <button type="button" class="btn btn-sm btn-blue"><i class="fa fa-twitter"></i></button>
                    <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-facebook"></i></button>
                    <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-google-plus"></i></button>
                    <button type="button" class="btn btn-sm btn-dark"><i class="fa fa-info"></i></button>
                    <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-heart"></i></button>
                    <button type="button" class="btn btn-sm btn-info"><i class="fa fa-map-marker"></i></button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h3><strong>Icons</strong> rounded button</h3>
                    <button type="button" class="btn btn-sm btn-icon btn-rounded btn-info"><i class="fa fa-twitter"></i></button>
                    <button type="button" class="btn btn-sm btn-icon btn-rounded btn-primary"><i class="fa fa-facebook"></i></button>
                    <button type="button" class="btn btn-sm btn-icon btn-rounded btn-danger"><i class="fa fa-google-plus"></i></button>
                    <button type="button" class="btn btn-sm btn-icon btn-rounded btn-default"><i class="fa fa-power-off"></i></button>
                    <button type="button" class="btn btn-sm btn-icon btn-rounded btn-danger"><i class="fa fa-heart"></i></button>
                    <button type="button" class="btn btn-sm btn-icon btn-rounded btn-dark"><i class="fa fa-plus"></i></button>
                    <button type="button" class="btn btn-sm btn-icon btn-rounded btn-danger"><i class="fa fa-info"></i></button>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <h3><strong>Icons</strong> styled button</h3>
                <button type="button" class="btn btn-dark"><i class="icon-cloud-upload"></i> Upload</button>
                <button type="button" class="btn btn-primary"><i class="icon-like"></i> I like</button>
                <button type="button" class="btn btn-success"><i class="icons-office-51"></i> I agree</button>
                <button type="button" class="btn btn-white"><i class="fa fa-plus"></i> More</button>
                <button type="button" class="btn btn-danger"><i class="icon-link"></i> Link</button>
                <button type="button" class="btn btn-info"><i class="icon-bubble"></i> Comment</button>
              </div>
              <div class="col-md-4">
                <h3><strong>Block Social</strong> Buttons</h3>
                <button type="button" class="btn btn-lg btn-block btn-primary"><i class="fa fa-facebook pull-left"></i>Connect with Facebook</button>
                <button type="button" class="btn btn-lg btn-block btn-blue"><i class="fa fa-twitter pull-left"></i>Login with Twitter</button>
                <button type="button" class="btn btn-lg btn-block btn-danger"><i class="fa fa-google-plus pull-left"></i>Connect with Google</button>
              </div>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-header panel-controls">
            <h3><i class="icon-bulb"></i> <strong>Loading State</strong> &amp; <strong>Size</strong> Buttons</h3>
          </div>
          <div class="panel-content">
            <div class="row">
              <div class="col-md-6">
                <h3><strong>Loading</strong> button <small>Click to see loading state</small></h3>
                <p>Loading state are perfect for login, register or form submission.</p>
                <button type="button" class="btn btn-dark ladda-button" data-style="expand-left"><i class="icon-cloud-upload"></i> Expand Left</button>
                <button type="button" class="btn btn-success ladda-button" data-style="expand-right"><i class="icons-office-51"></i> Expand Right</button>
                <button type="button" class="btn btn-info ladda-button" data-style="zoom-in"><i class="icon-magnifier-add"></i> Zoom in</button>
                <div class="row">
                  <div class="progress-demo col-md-6">
                    <button type="button" class="btn btn-block btn-danger ladda-button" data-style="zoom-in">Progress Bar Style</button>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <h3><strong>Size</strong> Buttons <small>for small to Huge effect</small></h3>
                <p>You can choose your size by simply adding a class like <code>btn-sm</code> for small button.</p>
                <button type="button" class="btn btn-sm btn-primary">Small button</button>
                <button type="button" class="btn btn-primary">Medium button</button>
                <button type="button" class="btn btn-lg btn-primary">Big button</button>
                <button type="button" class="btn btn-hg btn-primary">Huge button</button>
              </div>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-header">
            <h3><i class="icon-bulb"></i> <strong>Dropdown</strong> Buttons</h3>
          </div>
          <div class="panel-content">
            <p>Use any button to trigger a dropdown menu by placing it within a <code>.btn-group</code> and providing the proper menu markup.</p>
            <div class="row">
              <div class="col-md-4 clearfix">
                <h3><strong>Simple</strong> Dropdown</h3>
                <div class="m-b-10 f-left">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Default <span class="caret"></span>
                    </button>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a>
                      </li>
                      <li><a href="#">Another action</a>
                      </li>
                      <li><a href="#">Something else here</a>
                      </li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="m-b-10 f-left">
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Primary <span class="caret"></span>
                    </button>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a>
                      </li>
                      <li><a href="#">Another action</a>
                      </li>
                      <li><a href="#">Something else here</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="m-b-10 f-left">
                  <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">Success <span class="caret"></span>
                    </button>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a>
                      </li>
                      <li><a href="#">Another action</a>
                      </li>
                      <li><a href="#">Something else here</a>
                      </li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="m-b-10 f-left">
                  <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Info <span class="caret"></span>
                    </button>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a>
                      </li>
                      <li><a href="#">Another action</a>
                      </li>
                      <li><a href="#">Something else here</a>
                      </li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="m-b-10 f-left">
                  <div class="btn-group">
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">Warning <span class="caret"></span>
                    </button>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a>
                      </li>
                      <li><a href="#">Another action</a>
                      </li>
                      <li><a href="#">Something else here</a>
                      </li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="m-b-10 f-left">
                  <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Danger <span class="caret"></span>
                    </button>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a>
                      </li>
                      <li><a href="#">Another action</a>
                      </li>
                      <li><a href="#">Something else here</a>
                      </li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-4 clearfix">
                <h3><strong>Split</strong> Dropdown <small>for small to Huge effect</small></h3>
                <div class="m-b-10 f-left">
                  <div class="btn-group">
                    <button type="button" class="btn btn-danger">Action</button>
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a>
                      </li>
                      <li><a href="#">Another action</a>
                      </li>
                      <li><a href="#">Something else here</a>
                      </li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="m-b-10 f-left">
                  <div class="btn-group">
                    <button type="button" class="btn btn-success">Action</button>
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a>
                      </li>
                      <li><a href="#">Another action</a>
                      </li>
                      <li><a href="#">Something else here</a>
                      </li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="m-b-10 f-left">
                  <div class="btn-group">
                    <button type="button" class="btn btn-white">Action</button>
                    <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a>
                      </li>
                      <li><a href="#">Another action</a>
                      </li>
                      <li><a href="#">Something else here</a>
                      </li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="m-b-10 f-left">
                  <div class="btn-group">
                    <button type="button" class="btn btn-warning">Action</button>
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a>
                      </li>
                      <li><a href="#">Another action</a>
                      </li>
                      <li><a href="#">Something else here</a>
                      </li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="m-b-10 f-left">
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary">Action</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a>
                      </li>
                      <li><a href="#">Another action</a>
                      </li>
                      <li><a href="#">Something else here</a>
                      </li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="m-b-10 f-left">
                  <div class="btn-group">
                    <button type="button" class="btn btn-dark">Action</button>
                    <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a>
                      </li>
                      <li><a href="#">Another action</a>
                      </li>
                      <li><a href="#">Something else here</a>
                      </li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-4 clearfix">
                <h3><strong>Inverse Dropdown Menu</strong> Look</h3>
                <div class="m-b-10 f-left">
                  <div class="btn-group">
                    <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">Be Dark
                      <span class="caret"></span>
                    </button>
                    <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                    <ul class="dropdown-menu dropdown-inverse" role="menu">
                      <li><a href="#">Action</a>
                      </li>
                      <li><a href="#">Another action</a>
                      </li>
                      <li><a href="#">Something else here</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="m-b-10 f-left">
                  <div class="btn-group">
                    <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">Be White
                      <span class="caret"></span>
                    </button>
                    <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                    <ul class="dropdown-menu dropdown-inverse" role="menu">
                      <li><a href="#">Action</a>
                      </li>
                      <li><a href="#">Another action</a>
                      </li>
                      <li><a href="#">Something else here</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- END PAGE CONTENT -->

</template>
