<template>

  <!-- BEGIN PAGE CONTENT -->
  <div class="page-content">
    <div class="header">
      <h2>UI <strong>Components</strong></h2>
      <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
          <li><a href="#">Make</a>
          </li>
          <li><a href="#">UI</a>
          </li>
          <li class="active">Components</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 portlets">
        <div class="panel">
          <div class="panel-header panel-controls">
            <h3><i class="icon-bulb"></i> <strong>Components</strong></h3>
          </div>
          <div class="panel-content">
            <div class="row">
              <div class="col-md-6">
                <h4><strong>Labels &amp; Badges</strong></h4>
                <h3><strong>Labels</strong> colors</h3>
                <p>Just add the class <code>.label</code> to create a label.</p>
                <span class="label label-default">Gray</span>
                <span class="label label-primary">Blue</span>
                <span class="label label-success">Green</span>
                <span class="label label-info">Light blue</span>
                <span class="label label-warning">Orange</span>
                <span class="label label-danger">Red</span>
                <h3><strong>Badges</strong> colors</h3>
                <p>Just like labels, add the the class <code>.badge</code> to create one.</p>
                <button class="btn btn-primary" type="button">
                  Messages&nbsp;&nbsp;<span class="badge">4</span>
                </button>
                <span class="badge badge-primary">4</span>
                <span class="badge badge-success">3</span>
                <span class="badge badge-info">2</span>
                <span class="badge badge-warning">4</span>
                <span class="badge badge-danger">9</span>
              </div>
              <div class="col-md-6">
                <h4><strong>Tooltips &amp; Popover</strong>variations</h4>
                <h3><strong>Tooltip</strong> positions</h3>
                <p>Good way to explain an action button or icon menu.</p>
                <button data-rel="tooltip" type="button" class="btn btn-primary m-b-10 f-left" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Left</button>
                <button data-rel="tooltip" type="button" class="btn btn-primary m-b-10 f-left" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Top</button>
                <button data-rel="tooltip" type="button" class="btn btn-primary m-b-10 f-left" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Bottom</button>
                <button data-rel="tooltip" type="button" class="btn btn-primary m-b-10 f-left" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Right</button>
                <br>
                <h3><strong>Popover</strong> colors and positions</h3>
                <p>Customized popover with color variations.</p>
                <button rel="popover" type="button" class="btn btn-default m-b-10" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="A Title" title="">
                  With title on Top
                </button>
                <button rel="popover" type="button" class="btn btn-default m-b-10" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">
                  Popover on top
                </button>
                <button rel="popover_dark" type="button" class="btn btn-dark m-b-10" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Title" title="">
                  Dark Style
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 portlets">
        <div class="panel">
          <div class="panel-header panel-controls">
            <h3><i class="icon-bulb"></i> <strong>Progress bar</strong> options</h3>
          </div>
          <div class="panel-content">
            <div class="row">
              <div class="col-md-3">
                <h3><strong>Colors</strong> variations</h3>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (success)</span>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                    <span class="sr-only">20% Complete</span>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                    <span class="sr-only">60% Complete (warning)</span>
                    60%
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                    <span class="sr-only">80% Complete (danger)</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <h3><strong>Striped</strong> variations</h3>
                <div class="progress progress-striped active">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (success)</span>Animated
                  </div>
                </div>
                <div class="progress progress-striped">
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                    <span class="sr-only">20% Complete</span>
                  </div>
                </div>
                <div class="progress progress-striped">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                    <span class="sr-only">60% Complete (warning)</span>
                  </div>
                </div>
                <div class="progress progress-striped">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                    <span class="sr-only">80% Complete (danger)</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <h3><strong>Size</strong> options</h3>
                <p>Thin</p>
                <div class="progress progress-bar-thin">
                  <div class="progress-bar progress-bar-primary progress-bar-thin" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (success)</span>
                  </div>
                </div>
                <p>Normal</p>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                    <span class="sr-only">20% Complete</span>
                  </div>
                </div>
                <p>Big</p>
                <div class="progress progress-bar-large">
                  <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                    <span class="sr-only">60% Complete (warning)</span>
                    60%
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <h3 class="clearfix">
                  <strong>Animations</strong> options
                  <button type="button" class="btn btn-primary pull-right m-t-m10" id="button-animated-progress" onclick="$('.progress-bar').progressbar();">start</button>
                </h3>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" data-transitiongoal="75">normal</div>
                </div>
                <div class="progress progress-striped">
                  <div class="progress-bar progress-bar-default" data-transitiongoal="25">stripped</div>
                </div>
                <div class="progress progress-striped active">
                  <div class="progress-bar progress-bar-danger" data-transitiongoal="98">animated</div>
                </div>
                <div class="progress progress-striped active progress-bar-large">
                  <div class="progress-bar progress-bar-warning" data-transitiongoal="45">big animated</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- END PAGE CONTENT -->

</template>
