<template>

  <!-- BEGIN PAGE CONTENT -->
  <div class="page-content page-helper">
    <div class="header">
      <h2><strong>Helper</strong> Classes</h2>
      <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
          <li><a href="dashboard.html">Make</a>
          </li>
          <li><a href="#">UI</a>
          </li>
          <li class="active">Helper Classes</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 portlets">
        <div class="panel">
          <div class="panel-header panel-controls">
            <h3><strong>Margin</strong></h3>
          </div>
          <div class="panel-content withScroll" data-height="550">
            <table class="table helper-margin">
              <thead>
              <tr>
                <th>Class Name</th>
                <th>Preview</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>.m-10</td>
                <td>
                  <div>
                    <div  class="m-10">BOX</div>
                  </div>
                </td>
                <td>Margin 10px</td>
              </tr>
              <tr>
                <td>.m-20</td>
                <td>
                  <div>
                    <div class="m-20">BOX</div>
                  </div>
                </td>
                <td>Margin 20px</td>
              </tr>
              <tr>
                <td>.m-t-0</td>
                <td>
                  <div>
                    <div class="m-10 m-t-0">BOX</div>
                  </div>
                </td>
                <td>No margin top</td>
              </tr>
              <tr>
                <td>.m-t-10</td>
                <td>
                  <div>
                    <div class="m-t-10">BOX</div>
                  </div>
                </td>
                <td>Margin top 10px</td>
              </tr>
              <tr>
                <td>.m-t-20</td>
                <td>
                  <div>
                    <div class="m-t-20">BOX</div>
                  </div>
                </td>
                <td>Margin top 20px</td>
              </tr>
              <tr>
                <td>.m-b-0</td>
                <td>
                  <div>
                    <div class="m-10 m-b-0">BOX</div>
                  </div>
                </td>
                <td>Margin bottom 0</td>
              </tr>
              <tr>
                <td>.m-b-10</td>
                <td>
                  <div>
                    <div class="m-b-10">BOX</div>
                  </div>
                </td>
                <td>Margin bottom 10px</td>
              </tr>
              <tr>
                <td>.m-b-20</td>
                <td>
                  <div>
                    <div class="m-b-20">BOX</div>
                  </div>
                </td>
                <td>Margin bottom 20px</td>
              </tr>
              <tr>
                <td>.m-l-0</td>
                <td>
                  <div>
                    <div class="m-10 m-l-0">BOX</div>
                  </div>
                </td>
                <td>Margin left 0</td>
              </tr>
              <tr>
                <td>.m-l-10</td>
                <td>
                  <div>
                    <div class="m-l-10">BOX</div>
                  </div>
                </td>
                <td>Margin left 10px</td>
              </tr>
              <tr>
                <td>.m-l-20</td>
                <td>
                  <div>
                    <div class="m-l-20">BOX</div>
                  </div>
                </td>
                <td>Margin left 20px</td>
              </tr>
              <tr>
                <td>.m-r-0</td>
                <td>
                  <div>
                    <div class="m-10 m-r-0">BOX</div>
                  </div>
                </td>
                <td>Margin right 0</td>
              </tr>
              <tr>
                <td>.m-r-10</td>
                <td>
                  <div>
                    <div class="m-r-10">BOX</div>
                  </div>
                </td>
                <td>Margin right 10px</td>
              </tr>
              <tr>
                <td>.m-r-20</td>
                <td>
                  <div>
                    <div class="m-r-20">BOX</div>
                  </div>
                </td>
                <td>Margin right 20px</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6 portlets">
        <div class="panel">
          <div class="panel-header panel-controls">
            <h3><strong>Padding</strong></h3>
          </div>
          <div class="panel-content withScroll" data-height="550">
            <table class="table helper-padding">
              <thead>
              <tr>
                <th>Class Name</th>
                <th>Preview</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>.p-10</td>
                <td>
                  <div class="p-10">
                    <div >BOX</div>
                  </div>
                </td>
                <td>Padding 10px</td>
              </tr>
              <tr>
                <td>.p-20</td>
                <td>
                  <div class="p-20">
                    <div>BOX</div>
                  </div>
                </td>
                <td>Padding 20px</td>
              </tr>
              <tr>
                <td>.p-t-0</td>
                <td>
                  <div class="p-10 p-t-0">
                    <div>BOX</div>
                  </div>
                </td>
                <td>No padding top</td>
              </tr>
              <tr>
                <td>.p-t-10</td>
                <td>
                  <div class="p-t-10">
                    <div>BOX</div>
                  </div>
                </td>
                <td>Padding top 10px</td>
              </tr>
              <tr>
                <td>.p-t-20</td>
                <td>
                  <div class="p-t-20">
                    <div>BOX</div>
                  </div>
                </td>
                <td>Padding top 20px</td>
              </tr>
              <tr>
                <td>.p-b-0</td>
                <td>
                  <div class="p-10 p-b-0">
                    <div>BOX</div>
                  </div>
                </td>
                <td>Padding bottom 0</td>
              </tr>
              <tr>
                <td>.p-b-10</td>
                <td>
                  <div class="p-b-10">
                    <div>BOX</div>
                  </div>
                </td>
                <td>Padding bottom 10px</td>
              </tr>
              <tr>
                <td>.p-b-20</td>
                <td>
                  <div class="p-b-20">
                    <div>BOX</div>
                  </div>
                </td>
                <td>Padding bottom 20px</td>
              </tr>
              <tr>
                <td>.p-l-0</td>
                <td>
                  <div class="p-10 p-l-0">
                    <div>BOX</div>
                  </div>
                </td>
                <td>Padding left 0</td>
              </tr>
              <tr>
                <td>.p-l-10</td>
                <td>
                  <div class="p-l-10">
                    <div>BOX</div>
                  </div>
                </td>
                <td>Padding left 10px</td>
              </tr>
              <tr>
                <td>.p-l-20</td>
                <td>
                  <div class="p-l-20">
                    <div>BOX</div>
                  </div>
                </td>
                <td>Padding left 20px</td>
              </tr>
              <tr>
                <td>.p-r-0</td>
                <td>
                  <div class="p-10 p-r-0">
                    <div>BOX</div>
                  </div>
                </td>
                <td>Padding right 0</td>
              </tr>
              <tr>
                <td>.p-r-10</td>
                <td>
                  <div class="p-r-10">
                    <div>BOX</div>
                  </div>
                </td>
                <td>Padding right 10px</td>
              </tr>
              <tr>
                <td>.p-r-20</td>
                <td>
                  <div class="p-r-20">
                    <div>BOX</div>
                  </div>
                </td>
                <td>Padding right 20px</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 portlets">
        <div class="panel">
          <div class="panel-header panel-controls">
            <h3><strong>Borders</strong></h3>
          </div>
          <div class="panel-content withScroll" data-height="550">
            <table class="table helper-borders">
              <thead>
              <tr>
                <th>Class Name</th>
                <th>Preview</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>.border</td>
                <td>
                  <div class="border">BOX</div>
                </td>
                <td>Border</td>
              </tr>
              <tr>
                <td>.no-border</td>
                <td>
                  <div class="no-border">BOX</div>
                </td>
                <td>No Border</td>
              </tr>
              <tr>
                <td>.border-top</td>
                <td>
                  <div class="border-top">BOX</div>
                </td>
                <td>Border top</td>
              </tr>
              <tr>
                <td>.border-bottom</td>
                <td>
                  <div class="border-bottom">BOX</div>
                </td>
                <td>Border bottom</td>
              </tr>
              <tr>
                <td>.border-left</td>
                <td>
                  <div class="border-left">BOX</div>
                </td>
                <td>Border left</td>
              </tr>
              <tr>
                <td>.border-right</td>
                <td>
                  <div class="border-right">BOX</div>
                </td>
                <td>Border right</td>
              </tr>
              <tr>
                <td>.border-hor</td>
                <td>
                  <div class="border-hor">BOX</div>
                </td>
                <td>Border hor</td>
              </tr>
              <tr>
                <td>.border-ver</td>
                <td>
                  <div class="border-ver">BOX</div>
                </td>
                <td>Border ver</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6 portlets">
        <div class="panel">
          <div class="panel-header panel-controls">
            <h3><strong>Images</strong></h3>
          </div>
          <div class="panel-content withScroll" data-height="550">
            <table class="table">
              <thead>
              <tr>
                <th>Class Name</th>
                <th>Preview</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>.img-circle</td>
                <td>
                  <img class="img-md img-circle" src="../../../static/global/images/avatars/user3.jpg" alt="Image">
                </td>
                <td>Image Circle</td>
              </tr>
              <tr>
                <td>.img-rounded</td>
                <td>
                  <img class="img-md img-rounded" src="../../../static/global/images/avatars/user3.jpg" alt="Image">
                </td>
                <td>Image Rounded</td>
              </tr>
              <tr>
                <td>.img-thumbnail</td>
                <td>
                  <img class="img-md img-thumbnail" src="../../../static/global/images/avatars/user3.jpg" alt="Image">
                </td>
                <td>Image Thumbnail</td>
              </tr>
              <tr>
                <td>.img-sm</td>
                <td>
                  <img class="img-sm" src="../../../static/global/images/avatars/user3.jpg" alt="Image">
                </td>
                <td>Image Small</td>
              </tr>
              <tr>
                <td>.img-md</td>
                <td>
                  <img class="img-md" src="../../../static/global/images/avatars/user3.jpg" alt="Image">
                </td>
                <td>Image Medium</td>
              </tr>
              <tr>
                <td>.img-lg</td>
                <td>
                  <img class="img-lg" src="../../../static/global/images/avatars/user3.jpg" alt="Image">
                </td>
                <td>Image Large</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 portlets">
        <div class="panel">
          <div class="panel-header panel-controls">
            <h3><strong>Text</strong></h3>
          </div>
          <div class="panel-content withScroll" data-height="550">
            <table class="table helper-text">
              <thead>
              <tr>
                <th>Class Name</th>
                <th class="preview">Preview</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>.f-10</td>
                <td>
                  <div>
                    <p class="f-10">Your Text</p>
                  </div>
                </td>
                <td>Font size 10</td>
              </tr>
              <tr>
                <td>.f-12</td>
                <td>
                  <div>
                    <p class="f-12">Your Text</p>
                  </div>
                </td>
                <td>Font size 12</td>
              </tr>
              <tr>
                <td>.f-14</td>
                <td>
                  <div>
                    <p class="f-14">Your Text</p>
                  </div>
                </td>
                <td>Font size 14</td>
              </tr>
              <tr>
                <td>.f-16</td>
                <td>
                  <div>
                    <p class="f-16">Your Text</p>
                  </div>
                </td>
                <td>Font size 16</td>
              </tr>
              <tr>
                <td>.f-18</td>
                <td>
                  <div>
                    <p class="f-18">Your Text</p>
                  </div>
                </td>
                <td>Font size 18</td>
              </tr>
              <tr>
                <td>.f-20</td>
                <td>
                  <div>
                    <p class="f-20">Your Text</p>
                  </div>
                </td>
                <td>Font size 20</td>
              </tr>
              <tr>
                <td>.f-24</td>
                <td>
                  <div>
                    <p class="f-24">Your Text</p>
                  </div>
                </td>
                <td>Font size 24</td>
              </tr>
              <tr>
                <td>.f-32</td>
                <td>
                  <div>
                    <p class="f-32">Your Text</p>
                  </div>
                </td>
                <td>Font size 32</td>
              </tr>
              <tr>
                <td>.bold</td>
                <td>
                  <div>
                    <p class="bold">Your Text</p>
                  </div>
                </td>
                <td>Bold</td>
              </tr>
              <tr>
                <td>.t-center</td>
                <td>
                  <div>
                    <p class="t-center">Your Text</p>
                  </div>
                </td>
                <td>Text center</td>
              </tr>
              <tr>
                <td>.t-left</td>
                <td>
                  <div>
                    <p class="t-left">Your Text</p>
                  </div>
                </td>
                <td>Text left</td>
              </tr>
              <tr>
                <td>.t-right</td>
                <td>
                  <div>
                    <p class="t-right">Your Text</p>
                  </div>
                </td>
                <td>Text right</td>
              </tr>
              <tr>
                <td>.t-right</td>
                <td>
                  <div>
                    <p class="t-ellipsis">Your Text is too long for the container so it will be cut to preserv your CSS.</p>
                  </div>
                </td>
                <td>Text ellipsis</td>
              </tr>
              <tr>
                <td>.line-through</td>
                <td>
                  <div>
                    <p class="line-through">Your Text.</p>
                  </div>
                </td>
                <td>Line Through</td>
              </tr>
              <tr>
                <td>.text-sm</td>
                <td>
                  <div>
                    <p class="text-sm">Your Text.</p>
                  </div>
                </td>
                <td>Text Small</td>
              </tr>
              <tr>
                <td>.text-2x</td>
                <td>
                  <div>
                    <p class="text-2x">Your Text.</p>
                  </div>
                </td>
                <td>Text bigger</td>
              </tr>
              <tr>
                <td>.text-3x</td>
                <td>
                  <div>
                    <p class="text-3x">Your Text.</p>
                  </div>
                </td>
                <td>Text Very bigger</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6 portlets">
        <div class="panel">
          <div class="panel-header panel-controls">
            <h3><strong>Text Colors</strong></h3>
          </div>
          <div class="panel-content withScroll" data-height="550">
            <table class="table helper-text-color">
              <thead>
              <tr>
                <th>Class Name</th>
                <th class="preview">Preview</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>.c-primary</td>
                <td>
                  <div>
                    <p class="c-primary">Your Text Color</p>
                  </div>
                </td>
                <td>Color primary</td>
              </tr>
              <tr>
                <td>.c-red</td>
                <td>
                  <div>
                    <p class="c-red">Your Text Color</p>
                  </div>
                </td>
                <td>Color red</td>
              </tr>
              <tr>
                <td>.c-blue</td>
                <td>
                  <div>
                    <p class="c-blue">Your Text Color</p>
                  </div>
                </td>
                <td>Color blue</td>
              </tr>
              <tr>
                <td>.c-purple</td>
                <td>
                  <div>
                    <p class="c-purple">Your Text Color</p>
                  </div>
                </td>
                <td>Color purple</td>
              </tr>
              <tr>
                <td>.c-brown</td>
                <td>
                  <div>
                    <p class="c-brown">Your Text Color</p>
                  </div>
                </td>
                <td>Color brown</td>
              </tr>
              <tr>
                <td>.c-orange</td>
                <td>
                  <div>
                    <p class="c-orange">Your Text Color</p>
                  </div>
                </td>
                <td>Color orange</td>
              </tr>
              <tr>
                <td>.c-green</td>
                <td>
                  <div>
                    <p class="c-green">Your Text Color</p>
                  </div>
                </td>
                <td>Color green</td>
              </tr>
              <tr>
                <td>.c-gray</td>
                <td>
                  <div>
                    <p class="c-gray">Your Text Color</p>
                  </div>
                </td>
                <td>Color gray</td>
              </tr>
              <tr>
                <td>.c-yellow</td>
                <td>
                  <div class="bg-dark">
                    <p class="c-yellow">Your Text Color</p>
                  </div>
                </td>
                <td>Color yellow</td>
              </tr>
              <tr>
                <td>.c-light</td>
                <td>
                  <div class="bg-dark">
                    <p class="c-light">Your Text Color</p>
                  </div>
                </td>
                <td>Color light</td>
              </tr>
              <tr>
                <td>.c-gray-light</td>
                <td>
                  <div class="bg-dark">
                    <p class="c-gray-light">Your Text Color</p>
                  </div>
                </td>
                <td>Color gray light</td>
              </tr>
              <tr>
                <td>.c-white</td>
                <td>
                  <div class="bg-dark">
                    <p class="c-white">Your Text Color</p>
                  </div>
                </td>
                <td>Color white</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 portlets">
        <div class="panel">
          <div class="panel-header panel-controls">
            <h3><strong>Background Colors</strong></h3>
          </div>
          <div class="panel-content withScroll" data-height="550">
            <table class="table helper-background">
              <thead>
              <tr>
                <th>Class Name</th>
                <th class="preview">Preview</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>.bg-primary</td>
                <td>
                  <div class="bg-primary">BOX</div>
                </td>
                <td>Background primary</td>
              </tr>
              <tr>
                <td>.bg-blue</td>
                <td>
                  <div class="bg-blue">BOX</div>
                </td>
                <td>Background blue</td>
              </tr>
              <tr>
                <td>.bg-aero</td>
                <td>
                  <div class="bg-aero">BOX</div>
                </td>
                <td>Background aero</td>
              </tr>
              <tr>
                <td>.bg-yellow</td>
                <td>
                  <div class="bg-yellow">BOX</div>
                </td>
                <td>Background yellow</td>
              </tr>
              <tr>
                <td>.bg-orange</td>
                <td>
                  <div class="bg-orange">BOX</div>
                </td>
                <td>Background orange</td>
              </tr>
              <tr>
                <td>.bg-red</td>
                <td>
                  <div class="bg-red">BOX</div>
                </td>
                <td>Background red</td>
              </tr>
              <tr>
                <td>.bg-purple</td>
                <td>
                  <div class="bg-purple">BOX</div>
                </td>
                <td>Background purple</td>
              </tr>
              <tr>
                <td>.bg-pink</td>
                <td>
                  <div class="bg-pink">BOX</div>
                </td>
                <td>Background pink</td>
              </tr>
              <tr>
                <td>.bg-green</td>
                <td>
                  <div class="bg-green">BOX</div>
                </td>
                <td>Background green</td>
              </tr>
              <tr>
                <td>.bg-white</td>
                <td>
                  <div class="bg-white">BOX</div>
                </td>
                <td>Background white</td>
              </tr>
              <tr>
                <td>.bg-light</td>
                <td>
                  <div class="bg-light">BOX</div>
                </td>
                <td>Background light</td>
              </tr>
              <tr>
                <td>.bg-dark</td>
                <td>
                  <div class="bg-dark">BOX</div>
                </td>
                <td>Background dark</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6 portlets">
        <div class="panel">
          <div class="panel-header panel-controls">
            <h3><strong>Border Radius</strong></h3>
          </div>
          <div class="panel-content withScroll" data-height="550">
            <table class="table helper-border-radius">
              <thead>
              <tr>
                <th>Class Name</th>
                <th class="preview">Preview</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>.bd-0</td>
                <td>
                  <div class="bg-light bd-0">BOX</div>
                </td>
                <td>No border radius</td>
              </tr>
              <tr>
                <td>.bd-3</td>
                <td>
                  <div class="bg-light bd-3">BOX</div>
                </td>
                <td>border radius 3px</td>
              </tr>
              <tr>
                <td>.bd-6</td>
                <td>
                  <div class="bg-light bd-6">BOX</div>
                </td>
                <td>border radius 6px</td>
              </tr>
              <tr>
                <td>.bd-9</td>
                <td>
                  <div class="bg-light bd-9">BOX</div>
                </td>
                <td>border radius 9px</td>
              </tr>
              <tr>
                <td>.bd-full</td>
                <td>
                  <div class="bg-light bd-full">BOX</div>
                </td>
                <td>border radius 50%</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- END PAGE CONTENT -->

</template>
