<template>

  <!-- BEGIN PAGE CONTENT -->
  <div class="page-content">
    <div class="header">
      <h2>Bootstrap <strong>Modals</strong></h2>
      <p>Modals are important to notify users are give important information. For that reason, we have new design to Bootstrap modals to fit your project needs. </p>
      <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
          <li><a href="#">Make</a>
          </li>
          <li><a href="#">UI Elements</a>
          </li>
          <li class="active">Modals</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="tabs tabs-linetriangle">
          <ul class="nav nav-tabs">
            <li><a href="#size" data-toggle="tab"><span>Custom Size</span></a></li>
            <li><a href="#corner" data-toggle="tab"><span>Full Corner</span></a></li>
            <li class="active"><a href="#style" data-toggle="tab"><span>Various Style</span></a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade" id="size">
              <div class="row">
                <div class="col-lg-3 col-md-6">
                  <h3 class="m-t-20"><strong>Basic</strong> Modal</h3>
                  <p>Simple modal with title and footer</p>
                  <div class="modal-container" data-toggle="modal" data-target="#modal-basic">
                    <img  src="../../../static/global/images/modals/basic.png" alt="basic" class="img-responsive modal-img basic-modal-img">
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <h3 class="m-t-20"><strong>Large</strong> Width</h3>
                  <p>How to? Add the class <code>modal-lg</code> to your modal.</p>
                  <div class="modal-container" data-toggle="modal" data-target="#modal-large">
                    <img src="../../../static/global/images/modals/large.png" alt="large" class="img-responsive modal-img large-modal-img">
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <h3 class="m-t-20"><strong>Full</strong> Width</h3>
                  <p>For fullwidth modal, add the class <code>modal-full</code>.</p>
                  <div class="modal-container" data-toggle="modal" data-target="#modal-full">
                    <img src="../../../static/global/images/modals/full.png" alt="full" class="img-responsive modal-img full-modal-img">
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <h3 class="m-t-20"><strong>Responsive</strong> Modal</h3>
                  <p>Resize window to see responsive behaviour.</p>
                  <div class="modal-container" data-toggle="modal" data-target="#modal-responsive">
                    <img src="../../../static/global/images/modals/responsive.png" alt="responsive" class="img-responsive modal-img large-modal-img">
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="corner">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-lg-3 col-md-6">
                      <h3 class="m-t-20"><strong>Top &amp; Fullwidth</strong> Modal</h3>
                      <p>How to? Add class <code>topfull</code> to your modal.</p>
                      <div class="modal-container" data-toggle="modal" data-target="#modal-topfull">
                        <img src="../../../static/global/images/modals/top-bottom.png" alt="top" class="img-responsive modal-img top-modal-img">
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                      <h3 class="m-t-20"><strong>Bottom &amp; Fullwidth</strong> width</h3>
                      <p>How to? Add class <code>bottomfull</code> to your modal.</p>
                      <div class="modal-container" data-toggle="modal" data-target="#modal-bottomfull">
                        <img src="../../../static/global/images/modals/top-bottom.png" alt="bottom" class="img-responsive modal-img bottom-modal-img">
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                      <h3 class="m-t-20"><strong>Slide Left</strong> Modal</h3>
                      <p>How to? Add <code>modal-slideleft</code> class to your modal.</p>
                      <div class="modal-container" data-toggle="modal" data-target="#modal-slideleft">
                        <img src="../../../static/global/images/modals/left-right.png" alt="right" class="img-responsive modal-img left-modal-img">
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                      <h3 class="m-t-20"><strong>Slide Right</strong> Style</h3>
                      <p>How to? Add <code>modal-slideright</code> class to your modal.</p>
                      <div class="modal-container" data-toggle="modal" data-target="#modal-slideright">
                        <img src="../../../static/global/images/modals/left-right.png" alt="left" class="img-responsive modal-img right-modal-img">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade in active" id="style">
              <div class="row">
                <div class="col-lg-3 col-md-6">
                  <h3 class="m-t-20"><strong>Image</strong> Modal</h3>
                  <p>How to? Add <code>modal-image</code> class to modal.</p>
                  <div class="modal-container" data-toggle="modal" data-target="#modal-image">
                    <img  src="../../../static/global/images/modals/picture.png" alt="image" class="img-responsive modal-img basic-modal-img">
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <h3 class="m-t-20"><strong>Colored Header</strong> Style</h3>
                  <p>How to? Add <code>bg-yourcolor</code> class to modal-header.</p>
                  <div class="modal-container" data-toggle="modal" data-target="#colored-header">
                    <img  src="../../../static/global/images/modals/color-header.png" alt="header" class="img-responsive modal-img basic-modal-img">
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <h3 class="m-t-20"><strong>Colored Footer</strong> Style</h3>
                  <p>How to? Add <code>bg-yourcolor</code> class to modal-footer.</p>
                  <div class="modal-container" data-toggle="modal" data-target="#modal-footer">
                    <img  src="../../../static/global/images/modals/color-footer.png" alt="footer" class="img-responsive modal-img basic-modal-img">
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <h3 class="m-t-20"><strong>Full</strong> Colored</h3>
                  <p>How to? Add <code>bg-yourcolor</code> class to modal.</p>
                  <div class="modal-container" data-toggle="modal" data-target="#full-colored">
                    <img  src="../../../static/global/images/modals/color-full.png" alt="full" class="img-responsive modal-img basic-modal-img">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- BEGIN MODALS -->
    <div class="modal fade" id="modal-basic" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
            <h4 class="modal-title"><strong>Basic</strong> modal</h4>
          </div>
          <div class="modal-body">
            My content...<br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary btn-embossed" data-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-large" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
            <h4 class="modal-title"><strong>Large width</strong> modal</h4>
          </div>
          <div class="modal-body">
            My content...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary btn-embossed" data-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-full" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-full">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
            <h4 class="modal-title"><strong>Fullwidth</strong> modal</h4>
          </div>
          <div class="modal-body">
            Resize your window to see fullwidth resizing.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary btn-embossed" data-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-responsive" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
            <h4 class="modal-title"><strong>Responsive</strong> modal</h4>
          </div>
          <div class="modal-body">
            <p>Change screen size to see responsive behaviour.</p>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="field-1" class="control-label">Name</label>
                  <input type="text" class="form-control" id="field-1" placeholder="Steve">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="field-2" class="control-label">Surname</label>
                  <input type="text" class="form-control" id="field-2" placeholder="Winston">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="field-3" class="control-label">Address</label>
                  <input type="text" class="form-control" id="field-3" placeholder="Address">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="field-4" class="control-label">City</label>
                  <input type="text" class="form-control" id="field-4" placeholder="New York">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="field-5" class="control-label">Country</label>
                  <input type="text" class="form-control" id="field-5" placeholder="USA">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="field-6" class="control-label">Zip</label>
                  <input type="text" class="form-control" id="field-6" placeholder="24587">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-primary btn-embossed bnt-square" data-dismiss="modal"><i class="fa fa-check"></i> Validate</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade modal-topfull" id="modal-topfull" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-topfull">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
            <h4 class="modal-title"><strong>Top Fullwidth</strong> modal</h4>
          </div>
          <div class="modal-body">
            My content...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary btn-embossed" data-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade modal-bottomfull" id="modal-bottomfull" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
            <h4 class="modal-title"><strong>Bottom Fullwidth</strong> modal</h4>
          </div>
          <div class="modal-body">
            My content...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary btn-embossed" data-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade modal-slideright" id="modal-slideright" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <h2 class="c-primary m-b-30">Are you sure you want to proceed?</h2>
                <button type="button" class="btn btn-primary btn-embossed btn-block" data-dismiss="modal">Yes, I'm sure</button>
                <button type="button" data-dismiss="modal" class="btn btn-white btn-block">Oops, I prefer not!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade modal-slideleft" id="modal-slideleft" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <h2 class="c-primary m-b-30">Are you sure you want to proceed?</h2>
                <button type="button" class="btn btn-primary btn-embossed btn-block" data-dismiss="modal">Yes, I'm sure</button>
                <button type="button" data-dismiss="modal" class="btn btn-white btn-block">Oops, I prefer not!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade modal-image" id="modal-image" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
          </div>
          <div class="modal-body">
            <img src="../../../static/global/images/gallery/transport3.jpg" alt="picture 1" class="img-responsive">
          </div>
          <div class="modal-footer">
            <p>Title of your image</p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="colored-header" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
            <h4 class="modal-title"><strong>Colored</strong> Header</h4>
          </div>
          <div class="modal-body">
            <p>Want colors? Click on a color to switch header look:</p>
            <div class="p-t-20 m-b-20 p-l-40">
              <ul class="colors-list color-header">
                <li class="dark"></li>
                <li class="red"></li>
                <li class="green"></li>
                <li class="blue active"></li>
                <li class="aero"></li>
                <li class="gray"></li>
                <li class="orange"></li>
                <li class="pink"></li>
                <li class="purple"></li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary btn-embossed" data-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-footer" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
            <h4 class="modal-title"><strong>Colored</strong> Footer</h4>
          </div>
          <div class="modal-body">
            <p class="m-t-40">Like for header, you can add colors. Click on a color to switch header look:</p>
            <div class="p-t-20 m-b-20 p-l-40">
              <ul class="colors-list color-footer">
                <li class="dark active"></li>
                <li class="red"></li>
                <li class="green"></li>
                <li class="gray-light"></li>
                <li class="blue"></li>
                <li class="aero"></li>
                <li class="gray"></li>
                <li class="orange"></li>
                <li class="pink"></li>
                <li class="purple"></li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-dark" data-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="full-colored" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content bg-primary">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
            <h4 class="modal-title">Full <strong>Colored</strong></h4>
          </div>
          <div class="modal-body">
            <p class="m-t-40">Like for header, you can add colors. Click on a color to switch header look:</p>
            <div class="p-t-20 m-b-20 p-l-40">
              <ul class="colors-list color-full">
                <li class="dark active"></li>
                <li class="red"></li>
                <li class="green"></li>
                <li class="gray-light"></li>
                <li class="blue"></li>
                <li class="aero"></li>
                <li class="gray"></li>
                <li class="orange"></li>
                <li class="pink"></li>
                <li class="purple"></li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-dark" data-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END MODALS -->

  </div>
  <!-- END PAGE CONTENT -->

</template>
