<template>

  <!-- BEGIN PAGE CONTENT -->
  <div class="page-content">
    <div class="header">
      <h2><strong>Nestable</strong> Lists</h2>
      <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
          <li><a href="#">Make</a>
          </li>
          <li><a href="#">Pages</a>
          </li>
          <li class="active">Nestable Lists</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 portlets">
        <div class="panel">
          <div class="panel-header panel-controls">
            <h3><i class="icon-bulb"></i> Nestable <strong>Styles</strong></h3>
          </div>
          <div class="panel-content">
            <p>Here is a useful sortable list that can be grouped and sorted by simply dragging and dropping even on a touch device</p>
            <div class="row">
              <div class="col-md-6">
                <h3><strong>White</strong> style</h3>
                <p>You can easily reorder list by drag &amp; drop, like this admin menu sidebar.</p>
                <div class="dd nestable">
                  <ol class="dd-list">
                    <li class="dd-item" data-id="1">
                      <div class="dd3-content">Item 1</div>
                    </li>
                    <li class="dd-item" data-id="2">
                      <div class="dd3-content">Item 2</div>
                      <ol class="dd-list">
                        <li class="dd-item" data-id="3">
                          <div class="dd3-content">Item 3</div>
                        </li>
                        <li class="dd-item" data-id="4">
                          <div class="dd3-content">Item 4</div>
                          <ol class="dd-list">
                            <li class="dd-item" data-id="5">
                              <div class="dd3-content">Item 5</div>
                            </li>
                          </ol>
                        </li>
                        <li class="dd-item" data-id="6">
                          <div class="dd3-content">Item 6</div>
                        </li>
                        <li class="dd-item" data-id="7">
                          <div class="dd3-content">Item 7</div>
                        </li>
                      </ol>
                    </li>
                    <li class="dd-item" data-id="8">
                      <div class="dd3-content">Item 8</div>
                    </li>
                  </ol>
                </div>
              </div>
              <div class="col-md-6">
                <h3><strong>Dark</strong> style with<strong>Drag  &amp; Drop</strong></h3>
                <p>To go to dark side, just add <code>nestable-dark</code> class to your list.</p>
                <div class="dd nestable">
                  <ol class="dd-list nestable-dark">
                    <li class="dd-item" data-id="9">
                      <div class="dd-handle">Item 9</div>
                    </li>
                    <li class="dd-item" data-id="10">
                      <div class="dd-handle">Item 10</div>
                    </li>
                    <li class="dd-item" data-id="11">
                      <div class="dd-handle">Item 11</div>
                      <ol class="dd-list">
                        <li class="dd-item" data-id="12">
                          <div class="dd-handle">Item 12</div>
                        </li>
                        <li class="dd-item" data-id="13">
                          <div class="dd-handle">Item 13</div>
                        </li>
                        <li class="dd-item" data-id="14">
                          <div class="dd-handle">Item 14</div>
                        </li>
                      </ol>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 portlets">
        <div class="panel">
          <div class="panel-header panel-controls">
            <h3><i class="icon-bulb"></i> Drag <strong>Button</strong> Option</h3>
          </div>
          <div class="panel-content">
            <p>You can add a button that permit to move list only on clicking on it.</p>
            <div class="row">
              <div class="col-md-6">
                <h3><strong>White</strong> style</h3>
                <div class="dd nestable">
                  <ol class="dd-list">
                    <li class="dd-item dd3-item" data-id="1">
                      <div class="dd-handle dd3-handle"></div>
                      <div class="dd3-content">Item 1</div>
                    </li>
                    <li class="dd-item dd3-item" data-id="2">
                      <div class="dd-handle dd3-handle"></div>
                      <div class="dd3-content">Item 2</div>
                      <ol class="dd-list">
                        <li class="dd-item dd3-item" data-id="3">
                          <div class="dd-handle dd3-handle"></div>
                          <div class="dd3-content">Item 3</div>
                        </li>
                        <li class="dd-item dd3-item" data-id="4">
                          <div class="dd-handle dd3-handle"></div>
                          <div class="dd3-content">Item 4</div>
                        </li>
                        <li class="dd-item dd3-item" data-id="5">
                          <div class="dd-handle dd3-handle"></div>
                          <div class="dd3-content">Item 5</div>
                          <ol class="dd-list">
                            <li class="dd-item dd3-item" data-id="6">
                              <div class="dd-handle dd3-handle"></div>
                              <div class="dd3-content">Item 6</div>
                            </li>
                            <li class="dd-item dd3-item" data-id="7">
                              <div class="dd-handle dd3-handle"></div>
                              <div class="dd3-content">Item 7</div>
                            </li>
                            <li class="dd-item dd3-item" data-id="8">
                              <div class="dd-handle dd3-handle"></div>
                              <div class="dd3-content">Item 8</div>
                            </li>
                          </ol>
                        </li>
                        <li class="dd-item dd3-item" data-id="9">
                          <div class="dd-handle dd3-handle"></div>
                          <div class="dd3-content">Item 9</div>
                        </li>
                        <li class="dd-item dd3-item" data-id="10">
                          <div class="dd-handle dd3-handle"></div>
                          <div class="dd3-content">Item 10</div>
                        </li>
                      </ol>
                    </li>
                    <li class="dd-item dd3-item" data-id="11">
                      <div class="dd-handle dd3-handle"></div>
                      <div class="dd3-content">Item 11</div>
                    </li>
                    <li class="dd-item dd3-item" data-id="12">
                      <div class="dd-handle dd3-handle"></div>
                      <div class="dd3-content">Item 12</div>
                    </li>
                  </ol>
                </div>
              </div>
              <div class="col-md-6">
                <h3><strong>Dark</strong> style</h3>
                <div class="dd nestable">
                  <ol class="dd-list nestable-dark">
                    <li class="dd-item dd3-item" data-id="13">
                      <div class="dd-handle dd3-handle"></div>
                      <div class="dd3-content">Item 13</div>
                    </li>
                    <li class="dd-item dd3-item" data-id="14">
                      <div class="dd-handle dd3-handle"></div>
                      <div class="dd3-content">Item 14</div>
                    </li>
                    <li class="dd-item dd3-item" data-id="15">
                      <div class="dd-handle dd3-handle"></div>
                      <div class="dd3-content">Item 15</div>
                      <ol class="dd-list">
                        <li class="dd-item dd3-item" data-id="16">
                          <div class="dd-handle dd3-handle"></div>
                          <div class="dd3-content">Item 16</div>
                        </li>
                        <li class="dd-item dd3-item" data-id="17">
                          <div class="dd-handle dd3-handle"></div>
                          <div class="dd3-content">Item 17</div>
                        </li>
                        <li class="dd-item dd3-item" data-id="18">
                          <div class="dd-handle dd3-handle"></div>
                          <div class="dd3-content">Item 18</div>
                        </li>
                      </ol>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- END PAGE CONTENT -->

</template>
