<template>

  <!-- BEGIN PAGE CONTENT -->
  <div class="page-content">
    <div class="header">
      <h2><strong>Portlets</strong> <small>boxed panels for your app</small></h2>
      <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
          <li><a href="dashboard.html">Make</a></li>
          <li><a href="#">Pages</a>
          </li>
          <li class="active">Portlets</li>
        </ol>
      </div>
    </div>
    <h3>Portlets <strong>Background</strong></h3>
    <div class="row">
      <div class="col-md-6">
        <div class="panel">
          <div class="panel-content">
            <h1><strong>Simple</strong> Portlets</h1>
            <p>Example of panel with no header and footer. Portlets use default Bootstrap panel.<br>
              You can add header, footer or various buttons to control your portlet.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-transparent">
          <div class="panel-content">
            <h1><strong>Transparent</strong> Portlets</h1>
            <p>You can create transparent portlets by adding <code>panel-transparent</code> class to your panel.</p>
          </div>
        </div>
      </div>
    </div>
    <h3>Portlets <strong>Header</strong></h3>
    <div class="row">
      <div class="col-md-4">
        <div class="panel">
          <div class="panel-header bg-primary">
            <h3>Colored <strong>Header</strong></h3>
          </div>
          <div class="panel-content">
            <p>This is an example of a basic header.</p>
            <p>Want colors? Click on a color to switch header look:</p>
            <div class="p-t-20 m-b-20 p-l-40">
              <ul class="colors-list">
                <li class="dark"></li>
                <li class="red"></li>
                <li class="green"></li>
                <li class="blue active"></li>
                <li class="aero"></li>
                <li class="gray"></li>
                <li class="orange"></li>
                <li class="pink"></li>
                <li class="purple"></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel">
          <div class="panel-header">
            <h3><i class="icon-bulb"></i> <strong>Icon</strong> Style</h3>
          </div>
          <div class="panel-content">
            <p> You see, in this world there's two kinds of people, my friend: those with loaded guns and those who dig.
              Nd tell me it's raining. this is the ak-47 assault rifle, the preferred weapon of your enemy;
              and it makes a distinctive sound when fired at you, so remember it. dyin' ain't much of a livin', boy.
              Put that in your report!" and "i may have found a way out of here. well, do you have anything to say for
              yourself?
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel">
          <div class="panel-header header-line">
            <h3>Portlet Header with <strong>Separator</strong></h3>
          </div>
          <div class="panel-content">
            <p>No one should be asked to handle this trip. forget about it" is, like, if you agree with someone, you
              know, like "raquel welch is one great piece of ass. forget about it!" but then, if you disagree, like "a
              lincoln is better than a cadillac? forget about it!" you know? but then, it's also like if something's the
              greatest thing in the world, like, "minghia! those peppers! forget about it!" holy jesus. what are these
              goddamn animals? we're not sheep!</p>
          </div>
        </div>
      </div>
    </div>
    <h3>Portlets <strong>Footer</strong></h3>
    <div class="row">
      <div class="col-md-4">
        <div class="panel">
          <div class="panel-content">
            <h1>Just footer, no header.</h1>
            <p class="m-t-40">Like for header, you can add colors. Click on a color to switch header look:</p>
            <div class="p-t-20 m-b-20 p-l-40">
              <ul class="colors-list color-footer">
                <li class="dark active"></li>
                <li class="red"></li>
                <li class="green"></li>
                <li class="gray-light"></li>
                <li class="blue"></li>
                <li class="aero"></li>
                <li class="gray"></li>
                <li class="orange"></li>
                <li class="pink"></li>
                <li class="purple"></li>
              </ul>
            </div>
          </div>
          <div class="panel-footer bg-dark">
            <h3>Colored <strong>Footer</strong></h3>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel">
          <div class="panel-header">
            <h3>With <strong>Header</strong></h3>
          </div>
          <div class="panel-content">
            <p> You see, in this world there's two kinds of people, my friend: those with loaded guns and those who dig.
              Nd tell me it's raining. this is the ak-47 assault rifle, the preferred weapon of your enemy;
              and it makes a distinctive sound when fired at you, so remember it. dyin' ain't much of a livin', boy.
              Put that in your report!" and "i may have found a way out of here. well, do you have anything to say for
              yourself?
            </p>
          </div>
          <div class="panel-footer">
            <h3>Simple <strong>Footer</strong></h3>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel">
          <div class="panel-header header-line">
            <h3>Portlet <strong>Three</strong></h3>
          </div>
          <div class="panel-content">
            <p>No one should be asked to handle this trip. forget about it" is, like, if you agree with someone, you
              know, like "raquel welch is one great piece of ass. forget about it!" but then, if you disagree, like "a
              lincoln is better than a cadillac? forget about it!" you know? but then, it's also like if something's the
              greatest thing in the world, like, "minghia! those peppers! forget about it!" holy jesus. what are these
              goddamn animals? we're not sheep!</p>
          </div>
          <div class="panel-footer clearfix">
            <div class="pull-right">
              <button type="button" class="btn btn-white m-r-10">Cancel</button>
              <button type="button" class="btn btn-success">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3>Portlets <strong>Tools</strong></h3>
    <div class="row">
      <div class="col-md-6">
        <div class="panel">
          <div class="panel-header panel-controls">
            <h3>Portlet <strong>One</strong></h3>
          </div>
          <div class="panel-content">
            <p>There are 6 tools that you can add:</p>
            <p>
              <i class="icon-trash"></i> <strong>REMOVE</strong>: a confirmation box will appear to confirm deleting.
            </p>
            <p>
              <i class="fa fa-angle-down"></i> <strong>SLIDE UP</strong>: portlets will slide up / down. Just header
              will stay.
            </p>
            <p>
              <i class="icon-size-fullscreen"></i> <strong>MAXIMIZE</strong>: portlets will get all the page width and
              height.
            </p>
            <p>
              <i class="icons-office-58"></i> <strong>POP UP</strong>: portlets will "detach" from page, that permit
              move it where you want.
            </p>
            <p>
              <i class="icon-settings"></i> <strong>SETTINGS</strong>: a dropdown menu that permit you adding other
              options.
            </p>
            <p>
              <i class="icon-reload"></i> <strong>RELOAD</strong>: permit to reload portlets content for statistics,
              messages...
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel">
          <div class="panel-header">
            <h3>Portlet <strong>Two</strong></h3>
            <div class="control-btn">
              <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
              <a href="#" class="panel-close"><i class="icon-trash"></i></a>
            </div>
          </div>
          <div class="panel-content">
            <p><strong>No needs to insert all tools in each panel</strong> and to repeat your code many times. You just
              have to include <code>panel-controls</code> class to your portlet and all tools will appear.
              Magic!
            </p>
            <p>If you want just one or two tools, you can add them "manually" by adding it in your panel header</p>
            <p>For example here:</p>
            <pre class="prettyprint"></pre>
          </div>
        </div>
      </div>
    </div>
    <h3><strong>Colored</strong> Portlets <strong>Draggable</strong></h3>
    <div class="row sortable">
      <div class="col-md-4">
        <div class="panel bg-blue">
          <div class="panel-header">
            <h3>Porlet <strong>one</strong></h3>
          </div>
          <div class="panel-content">
            <p>Brain freeze. i just heard about evans new position,good luck to you evan backstabber, bastard, i mean
              baxter. look at that, it's exactly three seconds before i honk your nose and pull your underwear over your
              head. hey, maybe i will give you a call sometime. your number still 911? look ma i'm road kill we got no
              food we got no money and our pets heads are falling off! haaaaaaarry. kinda hot in these rhinos.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel bg-red">
          <div class="panel-header">
            <h3>Porlet <strong>one</strong></h3>
          </div>
          <div class="panel-content">
            <p>Brain freeze. i just heard about evans new position,good luck to you evan backstabber, bastard, i mean
              baxter. look at that, it's exactly three seconds before i honk your nose and pull your underwear over your
              head. hey, maybe i will give you a call sometime. your number still 911? look ma i'm road kill we got no
              food we got no money and our pets heads are falling off! haaaaaaarry. kinda hot in these rhinos.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel bg-orange">
          <div class="panel-header">
            <h3>Porlet <strong>one</strong></h3>
          </div>
          <div class="panel-content">
            <p>Brain freeze. i just heard about evans new position,good luck to you evan backstabber, bastard, i mean
              baxter. look at that, it's exactly three seconds before i honk your nose and pull your underwear over your
              head. hey, maybe i will give you a call sometime. your number still 911? look ma i'm road kill we got no
              food we got no money and our pets heads are falling off! haaaaaaarry. kinda hot in these rhinos.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel bg-dark">
          <div class="panel-header">
            <h3>Porlet <strong>one</strong></h3>
          </div>
          <div class="panel-content">
            <p>Brain freeze. i just heard about evans new position,good luck to you evan backstabber, bastard, i mean
              baxter. look at that, it's exactly three seconds before i honk your nose and pull your underwear over your
              head. hey, maybe i will give you a call sometime. your number still 911? look ma i'm road kill we got no
              food we got no money and our pets heads are falling off! haaaaaaarry. kinda hot in these rhinos.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel bg-purple">
          <div class="panel-header">
            <h3>Porlet <strong>one</strong></h3>
          </div>
          <div class="panel-content">
            <p>Brain freeze. i just heard about evans new position,good luck to you evan backstabber, bastard, i mean
              baxter. look at that, it's exactly three seconds before i honk your nose and pull your underwear over your
              head. hey, maybe i will give you a call sometime. your number still 911? look ma i'm road kill we got no
              food we got no money and our pets heads are falling off! haaaaaaarry. kinda hot in these rhinos.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel bg-aero">
          <div class="panel-header">
            <h3>Porlet <strong>one</strong></h3>
          </div>
          <div class="panel-content">
            <p>Brain freeze. i just heard about evans new position,good luck to you evan backstabber, bastard, i mean
              baxter. look at that, it's exactly three seconds before i honk your nose and pull your underwear over your
              head. hey, maybe i will give you a call sometime. your number still 911? look ma i'm road kill we got no
              food we got no money and our pets heads are falling off! haaaaaaarry. kinda hot in these rhinos.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="copyright">
        <p class="pull-left sm-pull-reset">
          <span>Copyright <span class="copyright">©</span> 2016 </span>
          <span>THEMES LAB</span>.
          <span>All rights reserved. </span>
        </p>
        <p class="pull-right sm-pull-reset">
          <span><a href="#" class="m-r-10">Support</a> | <a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a
            href="#" class="m-l-10">Privacy Policy</a></span>
        </p>
      </div>
    </div>
  </div>
  <!-- END PAGE CONTENT -->

</template>
