<template>

  <!-- BEGIN PAGE CONTENT -->
  <div class="page-content">
    <div class="header">
      <h2><strong>Tree</strong> View</h2>
      <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
          <li><a href="#">Make</a>
          </li>
          <li><a href="#">Pages</a>
          </li>
          <li class="active">Tree View</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3><strong>Color</strong> options</h3>
        <p>You can customize the color of each tree or let dark.</p>
        <br>
        <div id="tree1"></div>
      </div>
      <div class="col-md-4">
        <h3><strong>Checkbox</strong> tree</h3>
        <p>You can add checkbox, making multiple selection much easier.</p>
        <br>
        <div id="tree2"></div>
      </div>
      <div class="col-md-4">
        <h3><strong>Drag &amp; Drop</strong> tree</h3>
        <p>It's possible to drag and drop tree nodes and rearrange the tree.</p>
        <br>
        <div id="tree3"></div>
      </div>
    </div>
  </div>
  <!-- END PAGE CONTENT -->

</template>
