<template>

  <!-- BEGIN PAGE CONTENT -->
  <div class="page-content">
    <div class="header">
      <h2><strong>Typography</strong></h2>
      <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
          <li><a href="#">Make</a>
          </li>
          <li><a href="#">UI</a>
          </li>
          <li class="active">Typography</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 portlets">
        <div class="panel">
          <div class="panel-header">
            <h3><i class="icon-bulb"></i> <strong>Titles</strong> options</h3>
            <div class="control-btn">
              <a href="#" class="panel-reload hidden"><i class="icon-reload"></i></a>
              <a class="hidden" id="dropdown1" data-toggle="dropdown">
                <i class="icon-settings"></i>
              </a>
              <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdown1">
                <li><a href="#">Action</a>
                </li>
                <li><a href="#">Another action</a>
                </li>
                <li><a href="#">Something else here</a>
                </li>
              </ul>
              <a href="#" class="panel-popout hidden tt" title="Pop Out/In"><i class="icons-office-58"></i></a>
              <a href="#" class="panel-maximize hidden"><i class="icon-size-fullscreen"></i></a>
              <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
              <a href="#" class="panel-close"><i class="icon-trash"></i></a>
            </div>
          </div>
          <div class="panel-content">
            <div class="row">
              <div class="section-title">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-lg-6">
                      <h3><strong>Heading</strong> size</h3>
                      <h1>h1. Heading</h1>
                      <h2>h2. Heading</h2>
                      <h3>h3. Heading</h3>
                      <h4>h4. Heading</h4>
                      <h5>h5. Heading</h5>
                      <h6>h6. Heading</h6>
                      <h2 class="alert bg-primary">h2 background</h2>
                    </div>
                    <div class="col-lg-6">
                      <h3><strong>Large</strong> heading</h3>
                      <h1 class="w-500">h1. Heading</h1>
                      <h2 class="w-500">h2. Heading</h2>
                      <h3 class="w-500">h3. Heading</h3>
                      <h4 class="w-500">h4. Heading</h4>
                      <h5 class="w-500">h5. Heading</h5>
                      <h6 class="w-500">h6. Heading</h6>
                      <h2 class="w-500 alert bg-red">h2 background</h2>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <h2><strong>Paragraph</strong> variations</h2>
                    <div class="col-lg-6">
                      <h3><strong>Paragraph</strong> size</h3>
                      <p class="wide-size">p wide-size</p>
                      <p class="big-size">p big-size</p>
                      <p class="large-size">p large-size</p>
                      <p class="small-size">p small-size</p>
                      <p class="little-size">p little-size</p>
                      <p>p normal</p>
                      <p class="w-500">p semi-bold</p>
                      <p class="w-700">p bold</p>
                    </div>
                    <div class="col-lg-6">
                      <h3><strong>Emphasis</strong> paragraph</h3>
                      <p class="text-muted">Fusce dapibus, tellus ac cursus commodo.</p>
                      <p class="text-primary">Nullam id dolor id nibh ultricies vehicula.</p>
                      <p class="text-success">Duis mollis, est non commodo luctus, nisi erat.</p>
                      <p class="text-info">Maecenas sed diam eget risus varius blandit sit.</p>
                      <p class="text-warning">Etiam porta sem malesuada magna.</p>
                      <p class="text-danger">Donec ullamcorper nulla non metus.</p>
                      <p class="alert bg-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                      <p class="alert bg-red">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 portlets">
        <div class="panel">
          <div class="panel-header">
            <h3><i class="icon-bulb"></i> <strong>Lists</strong> ordered, unordered, customized</h3>
            <div class="control-btn">
              <a href="#" class="panel-reload hidden"><i class="icon-reload"></i></a>
              <a class="hidden" id="dropdown2" data-toggle="dropdown">
                <i class="icon-settings"></i>
              </a>
              <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdown2">
                <li><a href="#">Action</a>
                </li>
                <li><a href="#">Another action</a>
                </li>
                <li><a href="#">Something else here</a>
                </li>
              </ul>
              <a href="#" class="panel-popout hidden tt" title="Pop Out/In"><i class="icons-office-58"></i></a>
              <a href="#" class="panel-maximize hidden"><i class="icon-size-fullscreen"></i></a>
              <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
              <a href="#" class="panel-close"><i class="icon-trash"></i></a>
            </div>
          </div>
          <div class="panel-content">
            <div class="row">
              <div class="section-title">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-lg-3 ">
                      <h3><strong>Font Awesome</strong> style</h3>
                      <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check-square"></i>List item</li>
                        <li><i class="fa-li fa fa-check"></i>List item</li>
                        <li><i class="fa-li fa fa-circle-o"></i>List item</li>
                        <li><i class="fa-li fa fa-circle"></i>List item</li>
                        <li><i class="fa-li fa fa-spinner fa-plus-square-o"></i>List item</li>
                        <li><i class="fa-li fa fa-spinner fa-spin"></i>List item</li>
                        <li><i class="fa-li fa fa-dot-circle-o"></i>List item</li>
                      </ul>
                    </div>
                    <div class="col-lg-3 ">
                      <h3><strong>Ordered</strong> style</h3>
                      <ol>
                        <li>
                          Lorem ipsum dolor sit amet
                        </li>
                        <li>
                          Consectetur adipiscing elit
                        </li>
                        <li>
                          Integer molestie lorem at massa
                        </li>
                        <li>
                          Facilisis in pretium nisl aliquet
                        </li>
                        <li>
                          Nulla volutpat aliquam velit
                        </li>
                        <li>
                          Faucibus porta lacus fringilla vel
                        </li>
                        <li>
                          Aenean sit amet erat nunc
                        </li>
                        <li>
                          Eget porttitor lorem
                        </li>
                      </ol>
                    </div>
                    <div class="col-lg-3">
                      <h3><strong>Unordered</strong> style</h3>
                      <ul>
                        <li>
                          Lorem ipsum dolor sit amet
                        </li>
                        <li>
                          Consectetur adipiscing elit
                        </li>
                        <li>
                          Integer molestie lorem at massa
                        </li>
                        <li>
                          Nulla volutpat aliquam velit
                          <ul>
                            <li>
                              Phasellus iaculis neque
                            </li>
                            <li>
                              Purus sodales ultricies
                            </li>
                            <li>
                              Vestibulum laoreet porttitor sem
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-3 ">
                      <h3><strong>Unstyled</strong> style</h3>
                      <ul class="list-unstyled">
                        <li>
                          Lorem ipsum dolor sit amet
                        </li>
                        <li>
                          Consectetur adipiscing elit
                        </li>
                        <li>
                          Integer molestie lorem at massa
                        </li>
                        <li>
                          Nulla volutpat aliquam velit
                          <ul>
                            <li>
                              Phasellus iaculis neque
                            </li>
                            <li>
                              Purus sodales ultricies
                            </li>
                            <li>
                              Vestibulum laoreet porttitor sem
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 portlets">
        <div class="panel">
          <div class="panel-header">
            <h3><i class="icon-bulb"></i> <strong>Abbreviations</strong> &amp; <strong>Blockquotes</strong></h3>
            <div class="control-btn">
              <a href="#" class="panel-reload hidden"><i class="icon-reload"></i></a>
              <a class="hidden" id="dropdown3" data-toggle="dropdown">
                <i class="icon-settings"></i>
              </a>
              <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdown3">
                <li><a href="#">Action</a>
                </li>
                <li><a href="#">Another action</a>
                </li>
                <li><a href="#">Something else here</a>
                </li>
              </ul>
              <a href="#" class="panel-popout hidden tt" title="Pop Out/In"><i class="icons-office-58"></i></a>
              <a href="#" class="panel-maximize hidden"><i class="icon-size-fullscreen"></i></a>
              <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
              <a href="#" class="panel-close"><i class="icon-trash"></i></a>
            </div>
          </div>
          <div class="panel-content">
            <div class="row">
              <div class="section-title">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-lg-6">
                      <h3><strong>Abreviations</strong></h3>
                      <p>Default abbreviations</p>
                      <div class="bg-gray-light p-10">An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</div>
                      <p>Smaller and uppercase with class <code>.initialism</code>
                      </p>
                      <div class="bg-gray-light p-10">An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</div>
                    </div>
                    <div class="col-lg-6">
                      <h3><strong>Blockquotes</strong></h3>
                      <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer>Someone famous in <cite title="Source Title">Source Title</cite>
                        </footer>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <h3><strong>Adress</strong> colors variations</h3>
                    <div class="col-lg-6">
                      <div class="bd-blue">
                        <address>
                          <strong>Twitter, Inc.</strong><br>
                          795 Folsom Ave, Suite 600<br>
                          San Francisco, CA 94107<br>
                          <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                        <address>
                          <strong>Full Name</strong><br>
                          <a href="mailto:#">first.last@example.com</a>
                        </address>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="bd-red">
                        <address>
                          <strong>Twitter, Inc.</strong><br>
                          795 Folsom Ave, Suite 600<br>
                          San Francisco, CA 94107<br>
                          <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                        <address>
                          <strong>Full Name</strong><br>
                          <a href="mailto:#">first.last@example.com</a>
                        </address>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END PAGE CONTENT -->

</template>
