<template>

  <div class="builder hidden-xs open" id="builder">
    <a class="builder-toggle"><i class="icon-wrench"></i></a>
    <div class="inner">
      <div class="builder-container">
        <h3 class="m-t-0"><strong>Pricing Tables Builder</strong></h3>
        <button class="btn btn-primary btn-block" id="add-plan">Add New Plan</button>
        <h4 class="m-t-30">Plan Layout</h4>
        <div class="layout-option">
          <span> Separated Plan</span>
          <label class="switch pull-right">
            <input data-pricing-layout="separated-plan" id="switch-separated-plan" type="checkbox" class="switch-input" checked>
            <span class="switch-label" data-on="On" data-off="Off"></span>
            <span class="switch-handle"></span>
          </label>
        </div>
        <div class="layout-option">
          <span> Button in Header</span>
          <label class="switch pull-right">
            <input data-pricing-layout="top-btn" id="switch-top-btn" type="checkbox" class="switch-input" checked>
            <span class="switch-label" data-on="On" data-off="Off"></span>
            <span class="switch-handle"></span>
          </label>
        </div>
        <div class="layout-option">
          <span> Button in Footer</span>
          <label class="switch pull-right">
            <input data-pricing-layout="bottom-btn" id="bottom-btn" type="checkbox" class="switch-input" checked>
            <span class="switch-label" data-on="On" data-off="Off"></span>
            <span class="switch-handle"></span>
          </label>
        </div>
        <div class="layout-option">
          <span> Icon</span>
          <label class="switch pull-right">
            <input data-pricing-layout="icon" id="switch-icon" type="checkbox" class="switch-input">
            <span class="switch-label" data-on="On" data-off="Off"></span>
            <span class="switch-handle"></span>
          </label>
        </div>
        <div class="layout-option">
          <span> Rounded</span>
          <label class="switch pull-right">
            <input data-pricing-layout="rounded" id="switch-rounded" type="checkbox" class="switch-input">
            <span class="switch-label" data-on="On" data-off="Off"></span>
            <span class="switch-handle"></span>
          </label>
        </div>
        <div class="layout-option">
          <span> Shadow</span>
          <label class="switch pull-right">
            <input data-pricing-layout="shadow" id="switch-shadow" type="checkbox" class="switch-input">
            <span class="switch-label" data-on="On" data-off="Off"></span>
            <span class="switch-handle"></span>
          </label>
        </div>
        <h4>Pricing Font Size</h4>
        <div style="width:180px" class="primary p-t-30">
          <div data-slider-tooltip="always" class="pricing-font-size slide-ios" data-slider-min="20" data-slider-step="4" data-slider-max="80" data-slider-value="56"></div>
        </div>
        <h4 class="m-t-0 p-t-0">Text Font Size</h4>
        <div style="width:180px" class="primary m-b-30 p-t-30">
          <div data-slider-tooltip="always" class="text-font-size slide-ios" data-slider-min="8" data-slider-step="1" data-slider-max="20" data-slider-value="14"></div>
        </div>
        <h4 class="border-top">Color</h4>
        <div class="row">
          <div class="col-xs-12">
            <div class="pricing-color bg-dark" data-color="dark"></div>
            <div class="pricing-color background-primary active" data-color="primary"></div>
            <div class="pricing-color bg-red" data-color="red"></div>
            <div class="pricing-color bg-green" data-color="green"></div>
            <div class="pricing-color bg-orange" data-color="orange"></div>
            <div class="pricing-color bg-purple" data-color="purple"></div>
            <div class="pricing-color bg-blue" data-color="blue"></div>
          </div>
        </div>
        <div class="layout-option m-t-20">
          <span> Full Colored</span>
          <label class="switch pull-right">
            <input data-pricing-layout="full-color" id="switch-full-color" type="checkbox" class="switch-input">
            <span class="switch-label" data-on="On" data-off="Off"></span>
            <span class="switch-handle"></span>
          </label>
        </div>
        <h4 class="m-t-30 border-top">Export HTML</h4>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-dark btn-block pricing-html">GET HTML</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
