<template>
  <div class="account separate-inputs boxed" data-page="signup">

    <!-- BEGIN LOGIN BOX -->
    <div class="container" id="login-block">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
          <div class="account-wall">
            <i class="user-img icons-faces-users-03"></i>

            <form class="form-signin" @submit.prevent="postLogin" role="form">

              <div class="append-icon">
                <input
                  @input="$v.form.username.$touch()"
                  v-model="form.username"
                  type="text"
                  name="username"
                  id="username"
                  class="form-control form-white username"
                  placeholder="Username">
                <i class="icon-user"></i>
                  <small v-if="!$v.form.username.required" class="form-text text-danger"> Doldurmaq vacibdir </small>
              </div>



              <div class="append-icon m-b-20">
                <input
                  @input="$v.form.password.$touch()"
                  v-model="form.password"
                  type="password"
                  name="password"
                  class="form-control form-white password"
                  placeholder="Password">
                <i class="icon-lock"></i>
                  <small v-if="!$v.form.password.required" class="form-text text-danger"> Doldurmaq vacibdir </small>
              </div>


              <button type="submit" id="submit-form" class="btn btn-lg btn-danger btn-block ladda-button"
                      data-style="expand-left">Sign In
              </button>

              <div class="social-btn">
                <button type="button" class="btn-fb btn btn-lg btn-block btn-primary"><i
                  class="icons-socialmedia-08 pull-left"></i>Connect with Facebook
                </button>
                <button type="button" class="btn btn-lg btn-block btn-blue"><i
                  class="icon-social-twitter pull-left"></i>Login with Twitter
                </button>
              </div>
              <div class="clearfix">
                <p class="pull-left m-t-20"><a id="password" href="#">Forgot password?</a></p>
                <p class="pull-right m-t-20">
                  <router-link to="/signup">New here? Sign up</router-link>
                  <!--<a href="user-signup-v1.html">New here? Sign up</a>-->
                </p>
              </div>
            </form>
            <form class="form-password" role="form">
              <div class="append-icon m-b-20">
                <input type="password" name="password" class="form-control form-white password" placeholder="Password"
                       required>
                <i class="icon-lock"></i>
              </div>
              <button type="submit" id="submit-password" class="btn btn-lg btn-danger btn-block ladda-button"
                      data-style="expand-left">Send Password Reset Link
              </button>
              <div class="clearfix">
                <p class="pull-left m-t-20"><a id="login" href="#">Already got an account? Sign In</a></p>
                <p class="pull-right m-t-20"><a href="user-signup-v1.html">New here? Sign up</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- END LOGIN BOX -->

  </div>
</template>
<script>

    import {required} from 'vuelidate/lib/validators'

    export default {
        name: 'home',
        data() {
            return {
                msg: 'Welcome to Your Vue.js App',
                form: {
                    username: null,
                    password: null,
                }
            }
        },

        validations: {
            form: {
                username: {
                    required,
                },
                password: {
                    required,
                },
            }
        },
        methods: {
            postLogin() {
                if (this.form.username && this.form.password) {
                    localStorage.token = 1;
                    this.$router.push({name: 'layout'});

                    this.$v.$touch();
                    if (!this.$v.$invalid) {
                    }
                }
            },
        }

    }
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
