<template>

  <span>{{ newMessage() }}</span>

</template>


<script>

    export default {
        created() {
            this.newMessage()
        },

        data() {
            return {
                title: 'hello'
            }
        },
        methods: {
            newMessage: function () {


                function generateNotifDashboard(content) {
                    var position = 'topRight';
                    if ($('body').hasClass('rtl')) position = 'topLeft';
                    var n = noty({
                        text: content,
                        type: 'success',
                        layout: position,
                        theme: 'made',
                        animation: {
                            open: 'animated bounceIn',
                            close: 'animated bounceOut'
                        },
                        timeout: 500,
                        callback: {
                            onShow: function () {
                                $('#noty_topRight_layout_container, .noty_container_type_success').css('width', 350).css('bottom', 10);
                            },
                            onCloseClick: function () {
                                setTimeout(function () {
                                    $('#quickview-sidebar').addClass('open');
                                }, 500)
                            }
                        }
                    });
                }

            }
        }
    }
</script>
