<template>

  <!-- BEGIN SIDEBAR -->
  <div class="sidebar">
    <div class="logopanel">
      <h1>
        <router-link to="/"></router-link>
        <!--<a href="dashboard.html"></a>-->
      </h1>
    </div>
    <div class="sidebar-inner">
      <div class="sidebar-top">
        <form action="http://themes-lab.com/make/admin/layout1/search-result.html" method="post" class="searchform"
              id="search-results">
          <input type="text" class="form-control" name="keyword" placeholder="Search...">
        </form>
        <div class="userlogged clearfix">
          <i class="icon icons-faces-users-01"></i>
          <div class="user-details">
            <h4>Mike Mayers</h4>
            <div class="dropdown user-login">
              <button class="btn btn-xs dropdown-toggle btn-rounded" type="button" data-toggle="dropdown"
                      data-hover="dropdown" data-close-others="true" data-delay="300">
                <i class="online"></i><span>Available</span><i class="fa fa-angle-down"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="busy"></i><span>Busy</span></a></li>
                <li><a href="#"><i class="turquoise"></i><span>Invisible</span></a></li>
                <li><a href="#"><i class="away"></i><span>Away</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-title">
        Navigation
        <div class="pull-right menu-settings">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"
             data-delay="300">
            <i class="icon-settings"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#" id="reorder-menu" class="reorder-menu">Reorder menu</a></li>
            <li><a href="#" id="remove-menu" class="remove-menu">Remove elements</a></li>
            <li><a href="#" id="hide-top-sidebar" class="hide-top-sidebar">Hide user &amp; search</a></li>
          </ul>
        </div>
      </div>
      <ul class="nav nav-sidebar">

        <router-link to="/" tag="li" active-class="nav-active active" exact>
          <a><i class="icon-home"></i><span>Dashboard</span></a>
        </router-link>

        <!-- <li class=" nav-active active"><a href="dashboard.html"><i class="icon-home"></i><span>Dashboard</span></a> </li>-->

        <li class="nav-parent">
          <a href="#"><i class="icon-puzzle"></i><span>Builder</span> <span class="fa arrow"></span></a>
          <ul class="children collapse">

            <!--<router-link to="http://themes-lab.com/make/admin-builder/index.html" tag="li"><a target="_blank">Admin</a></router-link>-->

            <!--<li v-html="adminLink">admin</li>-->

            <li><a target="_blank" href="http://themes-lab.com/make/admin-builder/index.html"> Admin</a></li>

            <li><a href="page-builder/index.html"> Page</a></li>

            <router-link to="/pricingtable" tag="li"><a>Pricing Table</a></router-link>

            <!--<li><a href="ecommerce-pricing-table.html"> Pricing Table</a></li>-->

          </ul>
        </li>
        <li class="nav-parent">
          <a href="#"><i class="icon-bulb"></i><span>Mailbox</span> <span class="fa arrow"></span></a>
          <ul class="children collapse">
            <li><a href="mailbox.html"> Inbox</a></li>
            <li><a href="mailbox-send.html"> Send Email</a></li>
          </ul>
        </li>
        <li class="nav-parent">
          <a href="#"><i class="icon-screen-desktop"></i><span>UI Elements</span><span class="fa arrow"></span></a>
          <ul class="children collapse">
            <router-link to="/buttons"  tag="li"><a>Buttons</a></router-link>
            <!--<li><a href="ui-buttons.html"> Buttons</a></li>-->

            <router-link to="/components"  tag="li"><a>Components</a></router-link>
            <!--<li><a href="ui-components.html"> Components</a></li>-->

            <router-link to="/tabs"  tag="li"><a>Tabs</a></router-link>
            <!--<li><a href="ui-tabs.html"> Tabs</a></li>-->

            <router-link to="/animations"  tag="li"><a>Animations</a></router-link>
            <!--<li><a href="ui-animations.html"> Animations CSS3</a></li>-->

            <router-link to="/icons"  tag="li"><a>Icons</a></router-link>
            <!--<li><a href="ui-icons.html"> Icons</a></li>-->

            <router-link to="/portlets"  tag="li"><a>Portlets</a></router-link>
            <!--<li><a href="ui-portlets.html"> Portlets</a></li>-->

            <router-link to="/nestable"  tag="li"><a>Nestable List</a></router-link>
            <!--<li><a href="ui-nestable-list.html"> Nestable List</a></li>-->

            <router-link to="/treeview"  tag="li"><a>Tree View</a></router-link>
            <!--<li><a href="ui-tree-view.html"> Tree View</a></li>-->

            <router-link to="/modals"  tag="li"><a>Modals</a></router-link>
            <!--<li><a href="ui-modals.html"> Modals</a></li>-->

            <router-link to="/notifications"  tag="li"><a>Notifications</a></router-link>
            <!--<li><a href="ui-notifications.html"> Notifications</a></li>-->

            <router-link to="/typography"  tag="li"><a>Typography</a></router-link>
            <!--<li><a href="ui-typography.html"> Typography</a></li>-->

            <router-link to="/helper"  tag="li"><a>Helper Classes</a></router-link>
            <!--<li><a href="ui-helper.html"> Helper Classes</a></li>-->


          </ul>
        </li>
        <li class="nav-parent">
          <a href="#"><i class="icon-layers"></i><span>Layouts</span><span class="fa arrow"></span></a>
          <ul class="children collapse">
            <li><a href="layouts-api.html"> Layout API</a></li>
            <li><a href="layout-topbar-menu.html"> Topbar Menu</a></li>
            <li><a href="layout-topbar-mega-menu.html"> Topbar Mega Menu</a></li>
            <li><a href="layout-topbar-mega-menu-dark.html"> Topbar Mega Dark</a></li>
            <li><a href="layout-sidebar-hover.html"> Sidebar on Hover</a></li>
            <li><a href="layout-submenu-hover.html"> Sidebar Submenu Hover</a></li>
            <li><a href="layout-boxed.html"> Boxed Layout</a></li>
          </ul>
        </li>
        <li class="nav-parent">
          <a href="#"><i class="icon-note"></i><span>Forms </span><span class="fa arrow"></span></a>
          <ul class="children collapse">
            <li><a href="forms.html"> Forms Elements</a></li>
            <li><a href="forms-validation.html"> Forms Validation</a></li>
            <li><a href="forms-plugins.html"> Advanced Plugins</a></li>
            <li><a href="forms-wizard.html"> <span class="pull-right badge badge-danger">low</span>
              <span>Form Wizard</span></a></li>
            <li><a href="forms-sliders.html"> Sliders</a></li>
            <li><a href="forms-editors.html"> Text Editors</a></li>
            <li><a href="forms-input-masks.html"> Input Masks</a></li>
          </ul>
        </li>
        <li class="nav-parent">
          <a href="#"><i class="fa fa-table"></i><span>Tables</span><span class="fa arrow"></span></a>
          <ul class="children collapse">
            <li><a href="tables.html"> Tables Styling</a></li>
            <li><a href="tables-dynamic.html"> Tables Dynamic</a></li>
            <li><a href="tables-filter.html"> Tables Filter</a></li>
            <li><a href="tables-editable.html"> Tables Editable</a></li>
          </ul>
        </li>
        <li class="nav-parent">
          <a href="#"><i class="icon-bar-chart"></i><span>Charts </span><span class="fa arrow"></span></a>
          <ul class="children collapse">
            <li><a href="charts.html"> Charts</a></li>
            <li><a href="charts-finance.html"> Financial Charts</a></li>
          </ul>
        </li>
        <li class="nav-parent">
          <a href="#"><i class="icon-picture"></i><span>Medias</span><span class="fa arrow"></span></a>
          <ul class="children collapse">
            <li><a href="medias-image-croping.html"> Images Croping</a></li>
            <li><a href="medias-gallery-sortable.html"> Gallery Sortable</a></li>
            <li><a href="medias-hover-effects.html"> <span class="pull-right badge badge-primary">12</span> Hover
              Effects</a></li>
          </ul>
        </li>
        <li class="nav-parent">
          <a href="#"><i class="icon-docs"></i><span>Pages </span><span class="fa arrow"></span></a>
          <ul class="children collapse">
            <li><a href="page-timeline.html"> Timeline</a></li>
            <li><a href="page-404.html"> Error 404</a></li>
            <li><a href="page-500.html"> Error 500</a></li>
            <li><a href="page-blank.html"> Blank Page</a></li>
            <li><a href="page-contact.html"> Contact</a></li>
          </ul>
        </li>
        <li class="nav-parent">
          <a href="#"><i class="icon-user"></i><span>User </span><span class="fa arrow"></span></a>
          <ul class="children collapse">
            <li><a href="user-profil.html"> <span class="pull-right badge badge-danger">Hot</span> Profil</a></li>
            <li><a href="user-lockscreen.html"> Lockscreen</a></li>
            <li><a href="user-login-v1.html"> Login / Register</a></li>
            <li><a href="user-login-v2.html"> Login / Register v2</a></li>
            <li><a href="user-session-timeout.html"> Session Timeout</a></li>
          </ul>
        </li>
        <li class="nav-parent">
          <a href="#"><i class="icon-basket"></i><span>eCommerce </span><span class="fa arrow"></span></a>
          <ul class="children collapse">
            <li><a href="ecommerce-cart.html"> Shopping Cart</a></li>
            <li><a href="ecommerce-invoice.html"> Invoice</a></li>
            <li><a href="ecommerce-pricing-table.html"><span class="pull-right badge badge-success">5</span> Pricing
              Table</a></li>
          </ul>
        </li>
        <li class="nav-parent">
          <a href="#"><i class="icon-cup"></i><span>Extra </span><span class="fa arrow"></span></a>
          <ul class="children collapse">
            <li><a href="extra-fullcalendar.html"><span class="pull-right badge badge-primary">New</span>
              Fullcalendar</a></li>
            <li><a href="extra-widgets.html"> Widgets</a></li>
            <li><a href="page-coming-soon.html"> Coming Soon</a></li>
            <li><a href="extra-sliders.html"> Sliders</a></li>
            <li><a href="maps-google.html"> Google Maps</a></li>
            <li><a href="maps-vector.html"> Vector Maps</a></li>
            <li><a href="extra-translation.html"> Translation</a></li>
          </ul>
        </li>
      </ul>
      <!-- SIDEBAR WIDGET FOLDERS -->
      <div class="sidebar-widgets">
        <p class="menu-title widget-title">Folders <span class="pull-right"><a href="#" class="new-folder"> <i
          class="icon-plus"></i></a></span></p>
        <ul class="folders">
          <li>
            <a href="#"><i class="icon-doc c-primary"></i>My documents</a>
          </li>
          <li>
            <a href="#"><i class="icon-picture"></i>My images</a>
          </li>
          <li><a href="#"><i class="icon-lock"></i>Secure data</a>
          </li>
          <li class="add-folder">
            <input type="text" placeholder="Folder's name..." class="form-control input-sm">
          </li>
        </ul>
      </div>
      <div class="sidebar-footer clearfix">
        <a class="pull-left footer-settings" href="#" data-rel="tooltip" data-placement="top"
           data-original-title="Settings">
          <i class="icon-settings"></i></a>
        <a class="pull-left toggle_fullscreen" href="#" data-rel="tooltip" data-placement="top"
           data-original-title="Fullscreen">
          <i class="icon-size-fullscreen"></i></a>
        <a class="pull-left" href="user-lockscreen.html" data-rel="tooltip" data-placement="top"
           data-original-title="Lockscreen">
          <i class="icon-lock"></i></a>
        <a class="pull-left btn-effect" href="user-login-v1.html" data-modal="modal-1" data-rel="tooltip"
           data-placement="top" data-original-title="Logout">
          <i class="icon-power"></i></a>
      </div>
    </div>
  </div>
  <!-- END SIDEBAR -->


</template>


<script>

    export default {
        el: ".sidebar",
        data: function () {
            return {
                adminLink: '<a href="http://themes-lab.com/make/admin-builder/index.html> admin <a>',
            }
        }


    }

    < /script>
