<template>
  <div class="account separate-inputs boxed" data-page="signup">

    <!-- BEGIN LOGIN BOX -->
    <div class="container" id="login-block">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3">
          <div class="account-wall">
            <i class="user-img icons-faces-users-03"></i>

            <form class="form-signup" @submit.prevent="post" role="form">
              <div class="row">

                <div class="col-sm-6">
                  <div class="append-icon">
                    <input
                      @input="$v.firstname.$touch()"
                      v-model="firstname"
                      type="text"
                      name="firstname"
                      id="firstname"
                      class="form-control form-white firstname"
                      placeholder="First Name" autofocus>
                    <i class="icon-user"></i>
                    <div v-if="$v.firstname.$error">
                      <small v-if="!$v.firstname.required" class="form-text text-danger"> doldurmaq vacibdir </small>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="append-icon">
                    <input
                      @input="$v.lastname.$touch()"
                      v-model="lastname"
                      type="text"
                      name="lastname"
                      id="lastname"
                      class="form-control form-white lastname"
                      placeholder="Last Name">
                    <i class="icon-user"></i>
                    <div v-if="$v.lastname.$error">
                      <small v-if="!$v.lastname.required" class="form-text text-danger"> doldurmaq vacibdir </small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="append-icon">
                <input
                  v-model="$v.email.$model"
                  type="email"
                  name="email"
                  id="email"
                  class="form-control form-white email"
                  placeholder="Email">
                <i class="icon-envelope"></i>
                <div v-if="$v.email.$error">
                  <small v-if="!$v.email.required" class="form-text text-danger"> doldurmaq vacibdir </small>
                  <small v-if="!$v.email.email" class="form-text text-danger"> Kecherli email yaz </small>
                </div>
              </div>

              <div class="append-icon">
                <input
                  @input="$v.password.$touch()"
                  v-model="password"
                  type="password"
                  name="password"
                  id="password"
                  class="form-control form-white password"
                  placeholder="Password">
                <i class="icon-lock"></i>
                <div v-if="$v.password.$error">
                  <small v-if="!$v.password.required" class="form-text text-danger"> doldurmaq vacibdir </small>
                </div>
              </div>

              <div class="append-icon m-b-20">
                <input
                  @input="$v.password2.$touch()"
                  v-model="password2"
                  type="password"
                  name="password"
                  id="password2"
                  class="form-control form-white password2"
                  placeholder="Repeat Password">
                <i class="icon-lock"></i>
                <div v-if="$v.password2.$error">
                  <small v-if="!$v.password2.required" class="form-text text-danger dis-block"> doldurmaq
                    vacibdir </small>
                  <small v-if="!$v.password2.sameAs" class="form-text text-danger"> kod eyni olmalidir </small>
                </div>
              </div>

              <div class="terms option-group">
                <label for="terms" class="m-t-10">
                  <input
                    @input="$v.checkbox.$touch()"
                    v-model="checkbox"
                    type="checkbox"
                    name="terms"
                    id="terms"
                    data-checkbox="icheckbox_square-blue"/>
                  I agree with terms and conditions
                  <div v-if="$v.checkbox.$error">
                  <small v-if="!$v.checkbox.required" class="form-text text-danger dis-block"> testiqlemek lazimdir </small>
                  </div>
                </label>
              </div>

              <p>{{ $v.checkbox }}</p>
              <button type="submit" class="btn btn-lg btn-dark m-t-20" data-style="expand-left">
                Register
              </button>
              <div class="social-btn">
                <div class="row">
                  <div class="col-sm-6">
                    <button type="button" class="btn btn-lg btn-block btn-primary"><i
                      class="fa fa-facebook pull-left"></i>Sign In with Facebook
                    </button>
                  </div>

                  <div class="col-sm-6">
                    <button
                      type="button"
                      class="btn btn-lg btn-block btn-danger">
                      <i class="fa fa-google pull-left"></i>
                      Sign In with Google
                    </button>
                  </div>

                </div>
              </div>
              <div class="clearfix">
                <p class="pull-right m-t-20">
                  <router-link to="/"><a>Already have an account? Sign In</a></router-link>
                  <!--<a href="user-login-v1.html">Already have an account? Sign In</a>-->
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
<script>

    import {required, email, sameAs} from 'vuelidate/lib/validators'

    export default {
        name: 'signup',
        data() {
            return {
                title: 'signup',

                hasDescription: false,
                name: '',
                description: '',

                firstname: null,
                lastname: null,
                email: null,
                password: null,
                password2: null,
                checkbox: null,
            }
        },
        validations: {
            email: {
                required,
                email,
            },
            firstname: {
                required,
            },
            lastname: {
                required,
            },
            password: {
                required,
            },
            password2: {
                required,
                sameAs: sameAs('password')
            },
            checkbox: {
                required,
            },
        },

        methods: {
            post() {
                this.$v.$touch();
                if (!this.$v.$invalid) {
                }
            }
        }

    }
</script>
<style scoped>

</style>
