<template>
  <div>

    <h1>Page 404</h1>

    <!--<div class="row">
      <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <div class="error-container">
          <div class="error-main">
            <h1><span id="404"></span></h1>
            <h3><span id="404-txt"></span></h3>
            <h4><span id="404-txt-2"></span></h4>
            <br>
            <div class="row" id="content-404">
              <div class="col-md-6 col-md-offset-3 text-center">
                <div class="input-icon">
                  <i class="fa fa-search"></i>
                  <input type="text" class="form-control form-white" placeholder="Search for page">
                </div>
                <br>
                <button class="btn btn-dark" type="button">Search</button>
              </div>
              <div class="col-md-12 text-center">
                <br><br>
                <p>OR</p>
                <br><br><br>
                <div class="btn-group">
                  <a class="btn btn-white" href="#">
                    <i class="fa fa-angle-left"></i> Go back
                  </a>
                  <a class="btn btn-white btn-home" href="dashboard.html">
                    <i class="icon-home"></i> Home Page
                  </a>
                  <a class="btn btn-white" href="user-login-v1.html">
                    <i class="icon-login"></i> Login
                  </a>
                  <a class="btn btn-white btn-message" href="mailbox-send.html">
                    <i class="icon-envelope"></i> Send us a message
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->


  </div>


</template>

<script>



</script>
