<template>
  <div>

    <router-view/>

  </div>
</template>

<script>

    export default {
        name: 'app',
        data: function () {
            return {
                title: "hello world"
            }
        },
    }

</script>

<style>

</style>
